@font-face {
	/*font-family: "novitoregular";
	src: url('../fonts/Novito.ttf');*/
}
@font-face {
	font-family: 'Glyphicons Regular';
	src: url('../fonts/glyphicons-regular.eot');
	src: url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular.woff2') format('woff2'), url('../fonts/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular.svg#glyphiconsregular') format('svg')
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Regular';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.glyphicon.x05 {
	font-size: 12px
}

.glyphicon.x2 {
	font-size: 48px
}

.glyphicon.x3 {
	font-size: 72px
}

.glyphicon.x4 {
	font-size: 96px
}

.glyphicon.x5 {
	font-size: 120px
}

.glyphicon.light:before {
	color: #f2f2f2
}

.glyphicon.drop:before {
	text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3)
}

.glyphicon.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH"
}

.glyphicon.flipv {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV"
}

.glyphicon.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.glyphicon.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.glyphicon.rotate270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg)
}

.glyphicon-glass:before {
	content: "\E001"
}

.glyphicon-leaf:before {
	content: "\E002"
}

.glyphicon-dog:before {
	content: "\E003"
}

.glyphicon-user:before {
	content: "\E004"
}

.glyphicon-girl:before {
	content: "\E005"
}

.glyphicon-car:before {
	content: "\E006"
}

.glyphicon-user-add:before {
	content: "\E007"
}

.glyphicon-user-remove:before {
	content: "\E008"
}

.glyphicon-film:before {
	content: "\E009"
}

.glyphicon-magic:before {
	content: "\E010"
}

.glyphicon-envelope:before {
	content: "\2709"
}

.glyphicon-camera:before {
	content: "\E011"
}

.glyphicon-heart:before {
	content: "\E013"
}

.glyphicon-beach-umbrella:before {
	content: "\E014"
}

.glyphicon-train:before {
	content: "\E015"
}

.glyphicon-print:before {
	content: "\E016"
}

.glyphicon-bin:before {
	content: "\E017"
}

.glyphicon-music:before {
	content: "\E018"
}

.glyphicon-note:before {
	content: "\E019"
}

.glyphicon-heart-empty:before {
	content: "\E020"
}

.glyphicon-home:before {
	content: "\E021"
}

.glyphicon-snowflake:before {
	content: "\2744"
}

.glyphicon-fire:before {
	content: "\E023"
}

.glyphicon-magnet:before {
	content: "\E024"
}

.glyphicon-parents:before {
	content: "\E025"
}

.glyphicon-binoculars:before {
	content: "\E026"
}

.glyphicon-road:before {
	content: "\E027"
}

.glyphicon-search:before {
	content: "\E028"
}

.glyphicon-cars:before {
	content: "\E029"
}

.glyphicon-notes-2:before {
	content: "\E030"
}

.glyphicon-pencil:before {
	content: "\270F"
}

.glyphicon-bus:before {
	content: "\E032"
}

.glyphicon-wifi-alt:before {
	content: "\E033"
}

.glyphicon-luggage:before {
	content: "\E034"
}

.glyphicon-old-man:before {
	content: "\E035"
}

.glyphicon-woman:before {
	content: "\E036"
}

.glyphicon-file:before {
	content: "\E037"
}

.glyphicon-coins:before {
	content: "\E038"
}

.glyphicon-airplane:before {
	content: "\2708"
}

.glyphicon-notes:before {
	content: "\E040"
}

.glyphicon-stats:before {
	content: "\E041"
}

.glyphicon-charts:before {
	content: "\E042"
}

.glyphicon-pie-chart:before {
	content: "\E043"
}

.glyphicon-group:before {
	content: "\E044"
}

.glyphicon-keys:before {
	content: "\E045"
}

.glyphicon-calendar:before {
	content: "\E046"
}

.glyphicon-router:before {
	content: "\E047"
}

.glyphicon-camera-small:before {
	content: "\E048"
}

.glyphicon-star-empty:before {
	content: "\E049"
}

.glyphicon-star:before {
	content: "\E050"
}

.glyphicon-link:before {
	content: "\E051"
}

.glyphicon-eye-open:before {
	content: "\E052"
}

.glyphicon-eye-close:before {
	content: "\E053"
}

.glyphicon-alarm:before {
	content: "\E054"
}

.glyphicon-clock:before {
	content: "\E055"
}

.glyphicon-stopwatch:before {
	content: "\E056"
}

.glyphicon-projector:before {
	content: "\E057"
}

.glyphicon-history:before {
	content: "\E058"
}

.glyphicon-truck:before {
	content: "\E059"
}

.glyphicon-cargo:before {
	content: "\E060"
}

.glyphicon-compass:before {
	content: "\E061"
}

.glyphicon-keynote:before {
	content: "\E062"
}

.glyphicon-paperclip:before {
	content: "\E063"
}

.glyphicon-power:before {
	content: "\E064"
}

.glyphicon-lightbulb:before {
	content: "\E065"
}

.glyphicon-tag:before {
	content: "\E066"
}

.glyphicon-tags:before {
	content: "\E067"
}

.glyphicon-cleaning:before {
	content: "\E068"
}

.glyphicon-ruler:before {
	content: "\E069"
}

.glyphicon-gift:before {
	content: "\E070"
}

.glyphicon-umbrella:before {
	content: "\2602"
}

.glyphicon-book:before {
	content: "\E072"
}

.glyphicon-bookmark:before {
	content: "\E073"
}

.glyphicon-wifi:before {
	content: "\E074"
}

.glyphicon-cup:before {
	content: "\E075"
}

.glyphicon-stroller:before {
	content: "\E076"
}

.glyphicon-headphones:before {
	content: "\E077"
}

.glyphicon-headset:before {
	content: "\E078"
}

.glyphicon-warning-sign:before {
	content: "\E079"
}

.glyphicon-signal:before {
	content: "\E080"
}

.glyphicon-retweet:before {
	content: "\E081"
}

.glyphicon-refresh:before {
	content: "\E082"
}

.glyphicon-roundabout:before {
	content: "\E083"
}

.glyphicon-random:before {
	content: "\E084"
}

.glyphicon-heat:before {
	content: "\E085"
}

.glyphicon-repeat:before {
	content: "\E086"
}

.glyphicon-display:before {
	content: "\E087"
}

.glyphicon-log-book:before {
	content: "\E088"
}

.glyphicon-address-book:before {
	content: "\E089"
}

.glyphicon-building:before {
	content: "\E090"
}

.glyphicon-eyedropper:before {
	content: "\E091"
}

.glyphicon-adjust:before {
	content: "\E092"
}

.glyphicon-tint:before {
	content: "\E093"
}

.glyphicon-crop:before {
	content: "\E094"
}

.glyphicon-vector-path-square:before {
	content: "\E095"
}

.glyphicon-vector-path-circle:before {
	content: "\E096"
}

.glyphicon-vector-path-polygon:before {
	content: "\E097"
}

.glyphicon-vector-path-line:before {
	content: "\E098"
}

.glyphicon-vector-path-curve:before {
	content: "\E099"
}

.glyphicon-vector-path-all:before {
	content: "\E100"
}

.glyphicon-font:before {
	content: "\E101"
}

.glyphicon-italic:before {
	content: "\E102"
}

.glyphicon-bold:before {
	content: "\E103"
}

.glyphicon-text-underline:before {
	content: "\E104"
}

.glyphicon-text-strike:before {
	content: "\E105"
}

.glyphicon-text-height:before {
	content: "\E106"
}

.glyphicon-text-width:before {
	content: "\E107"
}

.glyphicon-text-resize:before {
	content: "\E108"
}

.glyphicon-left-indent:before {
	content: "\E109"
}

.glyphicon-right-indent:before {
	content: "\E110"
}

.glyphicon-align-left:before {
	content: "\E111"
}

.glyphicon-align-center:before {
	content: "\E112"
}

.glyphicon-align-right:before {
	content: "\E113"
}

.glyphicon-justify:before {
	content: "\E114"
}

.glyphicon-list:before {
	content: "\E115"
}

.glyphicon-text-smaller:before {
	content: "\E116"
}

.glyphicon-text-bigger:before {
	content: "\E117"
}

.glyphicon-embed:before {
	content: "\E118"
}

.glyphicon-embed-close:before {
	content: "\E119"
}

.glyphicon-table:before {
	content: "\E120"
}

.glyphicon-message-full:before {
	content: "\E121"
}

.glyphicon-message-empty:before {
	content: "\E122"
}

.glyphicon-message-in:before {
	content: "\E123"
}

.glyphicon-message-out:before {
	content: "\E124"
}

.glyphicon-message-plus:before {
	content: "\E125"
}

.glyphicon-message-minus:before {
	content: "\E126"
}

.glyphicon-message-ban:before {
	content: "\E127"
}

.glyphicon-message-flag:before {
	content: "\E128"
}

.glyphicon-message-lock:before {
	content: "\E129"
}

.glyphicon-message-new:before {
	content: "\E130"
}

.glyphicon-inbox:before {
	content: "\E131"
}

.glyphicon-inbox-plus:before {
	content: "\E132"
}

.glyphicon-inbox-minus:before {
	content: "\E133"
}

.glyphicon-inbox-lock:before {
	content: "\E134"
}

.glyphicon-inbox-in:before {
	content: "\E135"
}

.glyphicon-inbox-out:before {
	content: "\E136"
}

.glyphicon-cogwheel:before {
	content: "\E137"
}

.glyphicon-cogwheels:before {
	content: "\E138"
}

.glyphicon-picture:before {
	content: "\E139"
}

.glyphicon-adjust-alt:before {
	content: "\E140"
}

.glyphicon-database-lock:before {
	content: "\E141"
}

.glyphicon-database-plus:before {
	content: "\E142"
}

.glyphicon-database-minus:before {
	content: "\E143"
}

.glyphicon-database-ban:before {
	content: "\E144"
}

.glyphicon-folder-open:before {
	content: "\E145"
}

.glyphicon-folder-plus:before {
	content: "\E146"
}

.glyphicon-folder-minus:before {
	content: "\E147"
}

.glyphicon-folder-lock:before {
	content: "\E148"
}

.glyphicon-folder-flag:before {
	content: "\E149"
}

.glyphicon-folder-new:before {
	content: "\E150"
}

.glyphicon-edit:before {
	content: "\E151"
}

.glyphicon-new-window:before {
	content: "\E152"
}

.glyphicon-check:before {
	content: "\E153"
}

.glyphicon-unchecked:before {
	content: "\E154"
}

.glyphicon-more-windows:before {
	content: "\E155"
}

.glyphicon-show-big-thumbnails:before {
	content: "\E156"
}

.glyphicon-show-thumbnails:before {
	content: "\E157"
}

.glyphicon-show-thumbnails-with-lines:before {
	content: "\E158"
}

.glyphicon-show-lines:before {
	content: "\E159"
}

.glyphicon-playlist:before {
	content: "\E160"
}

.glyphicon-imac:before {
	content: "\E161"
}

.glyphicon-macbook:before {
	content: "\E162"
}

.glyphicon-ipad:before {
	content: "\E163"
}

.glyphicon-iphone:before {
	content: "\E164"
}

.glyphicon-iphone-transfer:before {
	content: "\E165"
}

.glyphicon-iphone-exchange:before {
	content: "\E166"
}

.glyphicon-ipod:before {
	content: "\E167"
}

.glyphicon-ipod-shuffle:before {
	content: "\E168"
}

.glyphicon-ear-plugs:before {
	content: "\E169"
}

.glyphicon-record:before {
	content: "\E170"
}

.glyphicon-step-backward:before {
	content: "\E171"
}

.glyphicon-fast-backward:before {
	content: "\E172"
}

.glyphicon-rewind:before {
	content: "\E173"
}

.glyphicon-play:before {
	content: "\E174"
}

.glyphicon-pause:before {
	content: "\E175"
}

.glyphicon-stop:before {
	content: "\E176"
}

.glyphicon-forward:before {
	content: "\E177"
}

.glyphicon-fast-forward:before {
	content: "\E178"
}

.glyphicon-step-forward:before {
	content: "\E179"
}

.glyphicon-eject:before {
	content: "\E180"
}

.glyphicon-facetime-video:before {
	content: "\E181"
}

.glyphicon-download-alt:before {
	content: "\E182"
}

.glyphicon-mute:before {
	content: "\E183"
}

.glyphicon-volume-down:before {
	content: "\E184"
}

.glyphicon-volume-up:before {
	content: "\E185"
}

.glyphicon-screenshot:before {
	content: "\E186"
}

.glyphicon-move:before {
	content: "\E187"
}

.glyphicon-more:before {
	content: "\E188"
}

.glyphicon-brightness-reduce:before {
	content: "\E189"
}

.glyphicon-brightness-increase:before {
	content: "\E190"
}

.glyphicon-circle-plus:before {
	content: "\E191"
}

.glyphicon-circle-minus:before {
	content: "\E192"
}

.glyphicon-circle-remove:before {
	content: "\E193"
}

.glyphicon-circle-ok:before {
	content: "\E194"
}

.glyphicon-circle-question-mark:before {
	content: "\E195"
}

.glyphicon-circle-info:before {
	content: "\E196"
}

.glyphicon-circle-exclamation-mark:before {
	content: "\E197"
}

.glyphicon-remove:before {
	content: "\E198"
}

.glyphicon-ok:before {
	content: "\E199"
}

.glyphicon-ban:before {
	content: "\E200"
}

.glyphicon-download:before {
	content: "\E201"
}

.glyphicon-upload:before {
	content: "\E202"
}

.glyphicon-shopping-cart:before {
	content: "\E203"
}

.glyphicon-lock:before {
	content: "\E204"
}

.glyphicon-unlock:before {
	content: "\E205"
}

.glyphicon-electricity:before {
	content: "\E206"
}

.glyphicon-ok-2:before {
	content: "\E207"
}

.glyphicon-remove-2:before {
	content: "\E208"
}

.glyphicon-cart-out:before {
	content: "\E209"
}

.glyphicon-cart-in:before {
	content: "\E210"
}

.glyphicon-left-arrow:before {
	content: "\E211"
}

.glyphicon-right-arrow:before {
	content: "\E212"
}

.glyphicon-down-arrow:before {
	content: "\E213"
}

.glyphicon-up-arrow:before {
	content: "\E214"
}

.glyphicon-resize-small:before {
	content: "\E215"
}

.glyphicon-resize-full:before {
	content: "\E216"
}

.glyphicon-circle-arrow-left:before {
	content: "\E217"
}

.glyphicon-circle-arrow-right:before {
	content: "\E218"
}

.glyphicon-circle-arrow-top:before {
	content: "\E219"
}

.glyphicon-circle-arrow-down:before {
	content: "\E220"
}

.glyphicon-play-button:before {
	content: "\E221"
}

.glyphicon-unshare:before {
	content: "\E222"
}

.glyphicon-share:before {
	content: "\E223"
}

.glyphicon-chevron-right:before {
	content: "\E224"
}

.glyphicon-chevron-left:before {
	content: "\E225"
}

.glyphicon-bluetooth:before {
	content: "\E226"
}

.glyphicon-euro:before {
	content: "\20AC"
}

.glyphicon-usd:before {
	content: "\E228"
}

.glyphicon-gbp:before {
	content: "\E229"
}

.glyphicon-retweet-2:before {
	content: "\E230"
}

.glyphicon-moon:before {
	content: "\E231"
}

.glyphicon-sun:before {
	content: "\2609"
}

.glyphicon-cloud:before {
	content: "\2601"
}

.glyphicon-direction:before {
	content: "\E234"
}

.glyphicon-brush:before {
	content: "\E235"
}

.glyphicon-pen:before {
	content: "\E236"
}

.glyphicon-zoom-in:before {
	content: "\E237"
}

.glyphicon-zoom-out:before {
	content: "\E238"
}

.glyphicon-pin:before {
	content: "\E239"
}

.glyphicon-albums:before {
	content: "\E240"
}

.glyphicon-rotation-lock:before {
	content: "\E241"
}

.glyphicon-flash:before {
	content: "\E242"
}

.glyphicon-google-maps:before {
	content: "\E243"
}

.glyphicon-anchor:before {
	content: "\2693"
}

.glyphicon-conversation:before {
	content: "\E245"
}

.glyphicon-chat:before {
	content: "\E246"
}

.glyphicon-male:before {
	content: "\E247"
}

.glyphicon-female:before {
	content: "\E248"
}

.glyphicon-asterisk:before {
	content: "\002A"
}

.glyphicon-divide:before {
	content: "\00F7"
}

.glyphicon-snorkel-diving:before {
	content: "\E251"
}

.glyphicon-scuba-diving:before {
	content: "\E252"
}

.glyphicon-oxygen-bottle:before {
	content: "\E253"
}

.glyphicon-fins:before {
	content: "\E254"
}

.glyphicon-fishes:before {
	content: "\E255"
}

.glyphicon-boat:before {
	content: "\E256"
}

.glyphicon-delete:before {
	content: "\E257"
}

.glyphicon-sheriffs-star:before {
	content: "\E258"
}

.glyphicon-qrcode:before {
	content: "\E259"
}

.glyphicon-barcode:before {
	content: "\E260"
}

.glyphicon-pool:before {
	content: "\E261"
}

.glyphicon-buoy:before {
	content: "\E262"
}

.glyphicon-spade:before {
	content: "\E263"
}

.glyphicon-bank:before {
	content: "\E264"
}

.glyphicon-vcard:before {
	content: "\E265"
}

.glyphicon-electrical-plug:before {
	content: "\E266"
}

.glyphicon-flag:before {
	content: "\E267"
}

.glyphicon-credit-card:before {
	content: "\E268"
}

.glyphicon-keyboard-wireless:before {
	content: "\E269"
}

.glyphicon-keyboard-wired:before {
	content: "\E270"
}

.glyphicon-shield:before {
	content: "\E271"
}

.glyphicon-ring:before {
	content: "\02DA"
}

.glyphicon-cake:before {
	content: "\E273"
}

.glyphicon-drink:before {
	content: "\E274"
}

.glyphicon-beer:before {
	content: "\E275"
}

.glyphicon-fast-food:before {
	content: "\E276"
}

.glyphicon-cutlery:before {
	content: "\E277"
}

.glyphicon-pizza:before {
	content: "\E278"
}

.glyphicon-birthday-cake:before {
	content: "\E279"
}

.glyphicon-tablet:before {
	content: "\E280"
}

.glyphicon-settings:before {
	content: "\E281"
}

.glyphicon-bullets:before {
	content: "\E282"
}

.glyphicon-cardio:before {
	content: "\E283"
}

.glyphicon-t-shirt:before {
	content: "\E284"
}

.glyphicon-pants:before {
	content: "\E285"
}

.glyphicon-sweater:before {
	content: "\E286"
}

.glyphicon-fabric:before {
	content: "\E287"
}

.glyphicon-leather:before {
	content: "\E288"
}

.glyphicon-scissors:before {
	content: "\E289"
}

.glyphicon-bomb:before {
	content: "\E290"
}

.glyphicon-skull:before {
	content: "\E291"
}

.glyphicon-celebration:before {
	content: "\E292"
}

.glyphicon-tea-kettle:before {
	content: "\E293"
}

.glyphicon-french-press:before {
	content: "\E294"
}

.glyphicon-coffee-cup:before {
	content: "\E295"
}

.glyphicon-pot:before {
	content: "\E296"
}

.glyphicon-grater:before {
	content: "\E297"
}

.glyphicon-kettle:before {
	content: "\E298"
}

.glyphicon-hospital:before {
	content: "\E299"
}

.glyphicon-hospital-h:before {
	content: "\E300"
}

.glyphicon-microphone:before {
	content: "\E301"
}

.glyphicon-webcam:before {
	content: "\E302"
}

.glyphicon-temple-christianity-church:before {
	content: "\E303"
}

.glyphicon-temple-islam:before {
	content: "\E304"
}

.glyphicon-temple-hindu:before {
	content: "\E305"
}

.glyphicon-temple-buddhist:before {
	content: "\E306"
}

.glyphicon-bicycle:before {
	content: "\E307"
}

.glyphicon-life-preserver:before {
	content: "\E308"
}

.glyphicon-share-alt:before {
	content: "\E309"
}

.glyphicon-comments:before {
	content: "\E310"
}

.glyphicon-flower:before {
	content: "\2698"
}

.glyphicon-baseball:before {
	content: "\26BE"
}

.glyphicon-rugby:before {
	content: "\E313"
}

.glyphicon-ax:before {
	content: "\E314"
}

.glyphicon-table-tennis:before {
	content: "\E315"
}

.glyphicon-bowling:before {
	content: "\E316"
}

.glyphicon-tree-conifer:before {
	content: "\E317"
}

.glyphicon-tree-deciduous:before {
	content: "\E318"
}

.glyphicon-more-items:before {
	content: "\E319"
}

.glyphicon-sort:before {
	content: "\E320"
}

.glyphicon-filter:before {
	content: "\E321"
}

.glyphicon-gamepad:before {
	content: "\E322"
}

.glyphicon-playing-dices:before {
	content: "\E323"
}

.glyphicon-calculator:before {
	content: "\E324"
}

.glyphicon-tie:before {
	content: "\E325"
}

.glyphicon-wallet:before {
	content: "\E326"
}

.glyphicon-piano:before {
	content: "\E327"
}

.glyphicon-sampler:before {
	content: "\E328"
}

.glyphicon-podium:before {
	content: "\E329"
}

.glyphicon-soccer-ball:before {
	content: "\E330"
}

.glyphicon-blog:before {
	content: "\E331"
}

.glyphicon-dashboard:before {
	content: "\E332"
}

.glyphicon-certificate:before {
	content: "\E333"
}

.glyphicon-bell:before {
	content: "\E334"
}

.glyphicon-candle:before {
	content: "\E335"
}

.glyphicon-pushpin:before {
	content: "\E336"
}

.glyphicon-iphone-shake:before {
	content: "\E337"
}

.glyphicon-pin-flag:before {
	content: "\E338"
}

.glyphicon-turtle:before {
	content: "\E339"
}

.glyphicon-rabbit:before {
	content: "\E340"
}

.glyphicon-globe:before {
	content: "\E341"
}

.glyphicon-briefcase:before {
	content: "\E342"
}

.glyphicon-hdd:before {
	content: "\E343"
}

.glyphicon-thumbs-up:before {
	content: "\E344"
}

.glyphicon-thumbs-down:before {
	content: "\E345"
}

.glyphicon-hand-right:before {
	content: "\E346"
}

.glyphicon-hand-left:before {
	content: "\E347"
}

.glyphicon-hand-up:before {
	content: "\E348"
}

.glyphicon-hand-down:before {
	content: "\E349"
}

.glyphicon-fullscreen:before {
	content: "\E350"
}

.glyphicon-shopping-bag:before {
	content: "\E351"
}

.glyphicon-book-open:before {
	content: "\E352"
}

.glyphicon-nameplate:before {
	content: "\E353"
}

.glyphicon-nameplate-alt:before {
	content: "\E354"
}

.glyphicon-vases:before {
	content: "\E355"
}

.glyphicon-bullhorn:before {
	content: "\E356"
}

.glyphicon-dumbbell:before {
	content: "\E357"
}

.glyphicon-suitcase:before {
	content: "\E358"
}

.glyphicon-file-import:before {
	content: "\E359"
}

.glyphicon-file-export:before {
	content: "\E360"
}

.glyphicon-bug:before {
	content: "\E361"
}

.glyphicon-crown:before {
	content: "\E362"
}

.glyphicon-smoking:before {
	content: "\E363"
}

.glyphicon-cloud-download:before {
	content: "\E364"
}

.glyphicon-cloud-upload:before {
	content: "\E365"
}

.glyphicon-restart:before {
	content: "\E366"
}

.glyphicon-security-camera:before {
	content: "\E367"
}

.glyphicon-expand:before {
	content: "\E368"
}

.glyphicon-collapse:before {
	content: "\E369"
}

.glyphicon-collapse-top:before {
	content: "\E370"
}

.glyphicon-globe-af:before {
	content: "\E371"
}

.glyphicon-global:before {
	content: "\E372"
}

.glyphicon-spray:before {
	content: "\E373"
}

.glyphicon-nails:before {
	content: "\E374"
}

.glyphicon-claw-hammer:before {
	content: "\E375"
}

.glyphicon-classic-hammer:before {
	content: "\E376"
}

.glyphicon-hand-saw:before {
	content: "\E377"
}

.glyphicon-riflescope:before {
	content: "\E378"
}

.glyphicon-electrical-socket-eu:before {
	content: "\E379"
}

.glyphicon-electrical-socket-us:before {
	content: "\E380"
}

.glyphicon-message-forward:before {
	content: "\E381"
}

.glyphicon-coat-hanger:before {
	content: "\E382"
}

.glyphicon-dress:before {
	content: "\E383"
}

.glyphicon-bathrobe:before {
	content: "\E384"
}

.glyphicon-shirt:before {
	content: "\E385"
}

.glyphicon-underwear:before {
	content: "\E386"
}

.glyphicon-log-in:before {
	content: "\E387"
}

.glyphicon-log-out:before {
	content: "\E388"
}

.glyphicon-exit:before {
	content: "\E389"
}

.glyphicon-new-window-alt:before {
	content: "\E390"
}

.glyphicon-video-sd:before {
	content: "\E391"
}

.glyphicon-video-hd:before {
	content: "\E392"
}

.glyphicon-subtitles:before {
	content: "\E393"
}

.glyphicon-sound-stereo:before {
	content: "\E394"
}

.glyphicon-sound-dolby:before {
	content: "\E395"
}

.glyphicon-sound-5-1:before {
	content: "\E396"
}

.glyphicon-sound-6-1:before {
	content: "\E397"
}

.glyphicon-sound-7-1:before {
	content: "\E398"
}

.glyphicon-copyright-mark:before {
	content: "\E399"
}

.glyphicon-registration-mark:before {
	content: "\E400"
}

.glyphicon-radar:before {
	content: "\E401"
}

.glyphicon-skateboard:before {
	content: "\E402"
}

.glyphicon-golf-course:before {
	content: "\E403"
}

.glyphicon-sorting:before {
	content: "\E404"
}

.glyphicon-sort-by-alphabet:before {
	content: "\E405"
}

.glyphicon-sort-by-alphabet-alt:before {
	content: "\E406"
}

.glyphicon-sort-by-order:before {
	content: "\E407"
}

.glyphicon-sort-by-order-alt:before {
	content: "\E408"
}

.glyphicon-sort-by-attributes:before {
	content: "\E409"
}

.glyphicon-sort-by-attributes-alt:before {
	content: "\E410"
}

.glyphicon-compressed:before {
	content: "\E411"
}

.glyphicon-package:before {
	content: "\E412"
}

.glyphicon-cloud-plus:before {
	content: "\E413"
}

.glyphicon-cloud-minus:before {
	content: "\E414"
}

.glyphicon-disk-save:before {
	content: "\E415"
}

.glyphicon-disk-open:before {
	content: "\E416"
}

.glyphicon-disk-saved:before {
	content: "\E417"
}

.glyphicon-disk-remove:before {
	content: "\E418"
}

.glyphicon-disk-import:before {
	content: "\E419"
}

.glyphicon-disk-export:before {
	content: "\E420"
}

.glyphicon-tower:before {
	content: "\E421"
}

.glyphicon-send:before {
	content: "\E422"
}

.glyphicon-git-branch:before {
	content: "\E423"
}

.glyphicon-git-create:before {
	content: "\E424"
}

.glyphicon-git-private:before {
	content: "\E425"
}

.glyphicon-git-delete:before {
	content: "\E426"
}

.glyphicon-git-merge:before {
	content: "\E427"
}

.glyphicon-git-pull-request:before {
	content: "\E428"
}

.glyphicon-git-compare:before {
	content: "\E429"
}

.glyphicon-git-commit:before {
	content: "\E430"
}

.glyphicon-construction-cone:before {
	content: "\E431"
}

.glyphicon-shoe-steps:before {
	content: "\E432"
}

.glyphicon-plus:before {
	content: "\002B"
}

.glyphicon-minus:before {
	content: "\2212"
}

.glyphicon-redo:before {
	content: "\E435"
}

.glyphicon-undo:before {
	content: "\E436"
}

.glyphicon-golf:before {
	content: "\E437"
}

.glyphicon-hockey:before {
	content: "\E438"
}

.glyphicon-pipe:before {
	content: "\E439"
}

.glyphicon-wrench:before {
	content: "\E440"
}

.glyphicon-folder-closed:before {
	content: "\E441"
}

.glyphicon-phone-alt:before {
	content: "\E442"
}

.glyphicon-earphone:before {
	content: "\E443"
}

.glyphicon-floppy-disk:before {
	content: "\E444"
}

.glyphicon-floppy-saved:before {
	content: "\E445"
}

.glyphicon-floppy-remove:before {
	content: "\E446"
}

.glyphicon-floppy-save:before {
	content: "\E447"
}

.glyphicon-floppy-open:before {
	content: "\E448"
}

.glyphicon-translate:before {
	content: "\E449"
}

.glyphicon-fax:before {
	content: "\E450"
}

.glyphicon-factory:before {
	content: "\E451"
}

.glyphicon-shop-window:before {
	content: "\E452"
}

.glyphicon-shop:before {
	content: "\E453"
}

.glyphicon-kiosk:before {
	content: "\E454"
}

.glyphicon-kiosk-wheels:before {
	content: "\E455"
}

.glyphicon-kiosk-light:before {
	content: "\E456"
}

.glyphicon-kiosk-food:before {
	content: "\E457"
}

.glyphicon-transfer:before {
	content: "\E458"
}

.glyphicon-money:before {
	content: "\E459"
}

.glyphicon-header:before {
	content: "\E460"
}

.glyphicon-blacksmith:before {
	content: "\E461"
}

.glyphicon-saw-blade:before {
	content: "\E462"
}

.glyphicon-basketball:before {
	content: "\E463"
}

.glyphicon-server:before {
	content: "\E464"
}

.glyphicon-server-plus:before {
	content: "\E465"
}

.glyphicon-server-minus:before {
	content: "\E466"
}

.glyphicon-server-ban:before {
	content: "\E467"
}

.glyphicon-server-flag:before {
	content: "\E468"
}

.glyphicon-server-lock:before {
	content: "\E469"
}

.glyphicon-server-new:before {
	content: "\E470"
}

.glyphicon-charging-station:before {
	content: "\F471"
}

.glyphicon-gas-station:before {
	content: "\E472"
}

.glyphicon-target:before {
	content: "\E473"
}

.glyphicon-bed-alt:before {
	content: "\E474"
}

.glyphicon-mosquito-net:before {
	content: "\E475"
}

.glyphicon-dining-set:before {
	content: "\E476"
}

.glyphicon-plate-of-food:before {
	content: "\E477"
}

.glyphicon-hygiene-kit:before {
	content: "\E478"
}

.glyphicon-blackboard:before {
	content: "\E479"
}

.glyphicon-marriage:before {
	content: "\E480"
}

.glyphicon-bucket:before {
	content: "\E481"
}

.glyphicon-none-color-swatch:before {
	content: "\E482"
}

.glyphicon-bring-forward:before {
	content: "\E483"
}

.glyphicon-bring-to-front:before {
	content: "\E484"
}

.glyphicon-send-backward:before {
	content: "\E485"
}

.glyphicon-send-to-back:before {
	content: "\E486"
}

.glyphicon-fit-frame-to-image:before {
	content: "\E487"
}

.glyphicon-fit-image-to-frame:before {
	content: "\E488"
}

.glyphicon-multiple-displays:before {
	content: "\E489"
}

.glyphicon-handshake:before {
	content: "\E490"
}

.glyphicon-child:before {
	content: "\E491"
}

.glyphicon-baby-formula:before {
	content: "\E492"
}

.glyphicon-medicine:before {
	content: "\E493"
}

.glyphicon-atv-vehicle:before {
	content: "\E494"
}

.glyphicon-motorcycle:before {
	content: "\E495"
}

.glyphicon-bed:before {
	content: "\E496"
}

.glyphicon-tent:before {
	content: "\26FA"
}

.glyphicon-glasses:before {
	content: "\E498"
}

.glyphicon-sunglasses:before {
	content: "\E499"
}

.glyphicon-family:before {
	content: "\E500"
}

.glyphicon-education:before {
	content: "\E501"
}

.glyphicon-shoes:before {
	content: "\E502"
}

.glyphicon-map:before {
	content: "\E503"
}

.glyphicon-cd:before {
	content: "\E504"
}

.glyphicon-alert:before {
	content: "\E505"
}

.glyphicon-piggy-bank:before {
	content: "\E506"
}

.glyphicon-star-half:before {
	content: "\E507"
}

.glyphicon-cluster:before {
	content: "\E508"
}

.glyphicon-flowchart:before {
	content: "\E509"
}

.glyphicon-commodities:before {
	content: "\E510"
}

.glyphicon-duplicate:before {
	content: "\E511"
}

.glyphicon-copy:before {
	content: "\E512"
}

.glyphicon-paste:before {
	content: "\E513"
}

.glyphicon-bath-bathtub:before {
	content: "\E514"
}

.glyphicon-bath-shower:before {
	content: "\E515"
}

.glyphicon-shower:before {
	content: "\1F6BF"
}

.glyphicon-menu-hamburger:before {
	content: "\E517"
}

.glyphicon-option-vertical:before {
	content: "\E518"
}

.glyphicon-option-horizontal:before {
	content: "\E519"
}

.glyphicon-currency-conversion:before {
	content: "\E520"
}

.glyphicon-user-ban:before {
	content: "\E521"
}

.glyphicon-user-lock:before {
	content: "\E522"
}

.glyphicon-user-flag:before {
	content: "\E523"
}

.glyphicon-user-asterisk:before {
	content: "\E524"
}

.glyphicon-user-alert:before {
	content: "\E525"
}

.glyphicon-user-key:before {
	content: "\E526"
}

.glyphicon-user-conversation:before {
	content: "\E527"
}

.glyphicon-database:before {
	content: "\E528"
}

.glyphicon-database-search:before {
	content: "\E529"
}

.glyphicon-list-alt:before {
	content: "\E530"
}

.glyphicon-hazard-sign:before {
	content: "\E531"
}

.glyphicon-hazard:before {
	content: "\E532"
}

.glyphicon-stop-sign:before {
	content: "\E533"
}

.glyphicon-lab:before {
	content: "\E534"
}

.glyphicon-lab-alt:before {
	content: "\E535"
}

.glyphicon-ice-cream:before {
	content: "\E536"
}

.glyphicon-ice-lolly:before {
	content: "\E537"
}

.glyphicon-ice-lolly-tasted:before {
	content: "\E538"
}

.glyphicon-invoice:before {
	content: "\E539"
}

.glyphicon-cart-tick:before {
	content: "\E540"
}

.glyphicon-hourglass:before {
	content: "\231B"
}

.glyphicon-cat:before {
	content: "\1F408"
}

.glyphicon-lamp:before {
	content: "\E543"
}

.glyphicon-scale-classic:before {
	content: "\E544"
}

.glyphicon-eye-plus:before {
	content: "\E545"
}

.glyphicon-eye-minus:before {
	content: "\E546"
}

.glyphicon-quote:before {
	content: "\E547"
}

.glyphicon-bitcoin:before {
	content: "\E548"
}

.glyphicon-yen:before {
	content: "\00A5"
}

.glyphicon-ruble:before {
	content: "\20BD"
}

.glyphicon-erase:before {
	content: "\E551"
}

.glyphicon-podcast:before {
	content: "\E552"
}

.glyphicon-firework:before {
	content: "\E553"
}

.glyphicon-scale:before {
	content: "\E554"
}

.glyphicon-king:before {
	content: "\E555"
}

.glyphicon-queen:before {
	content: "\E556"
}

.glyphicon-pawn:before {
	content: "\E557"
}

.glyphicon-bishop:before {
	content: "\E558"
}

.glyphicon-knight:before {
	content: "\E559"
}

.glyphicon-mic-mute:before {
	content: "\E560"
}

.glyphicon-voicemail:before {
	content: "\E561"
}

.glyphicon-paragraph:before {
	content: "\00B6"
}

.glyphicon-person-walking:before {
	content: "\E563"
}

.glyphicon-person-wheelchair:before {
	content: "\E564"
}

.glyphicon-underground:before {
	content: "\E565"
}

.glyphicon-car-hov:before {
	content: "\E566"
}

.glyphicon-car-rental:before {
	content: "\E567"
}

.glyphicon-transport:before {
	content: "\E568"
}

.glyphicon-taxi:before {
	content: "\1F695"
}

.glyphicon-ice-cream-no:before {
	content: "\E570"
}

.glyphicon-uk-rat-u:before {
	content: "\E571"
}

.glyphicon-uk-rat-pg:before {
	content: "\E572"
}

.glyphicon-uk-rat-12a:before {
	content: "\E573"
}

.glyphicon-uk-rat-12:before {
	content: "\E574"
}

.glyphicon-uk-rat-15:before {
	content: "\E575"
}

.glyphicon-uk-rat-18:before {
	content: "\E576"
}

.glyphicon-uk-rat-r18:before {
	content: "\E577"
}

.glyphicon-tv:before {
	content: "\E578"
}

.glyphicon-sms:before {
	content: "\E579"
}

.glyphicon-mms:before {
	content: "\E580"
}

.glyphicon-us-rat-g:before {
	content: "\E581"
}

.glyphicon-us-rat-pg:before {
	content: "\E582"
}

.glyphicon-us-rat-pg-13:before {
	content: "\E583"
}

.glyphicon-us-rat-restricted:before {
	content: "\E584"
}

.glyphicon-us-rat-no-one-17:before {
	content: "\E585"
}

.glyphicon-equalizer:before {
	content: "\E586"
}

.glyphicon-speakers:before {
	content: "\E587"
}

.glyphicon-remote-control:before {
	content: "\E588"
}

.glyphicon-remote-control-tv:before {
	content: "\E589"
}

.glyphicon-shredder:before {
	content: "\E590"
}

.glyphicon-folder-heart:before {
	content: "\E591"
}

.glyphicon-person-running:before {
	content: "\E592"
}

.glyphicon-person:before {
	content: "\E593"
}

.glyphicon-voice:before {
	content: "\E594"
}

.glyphicon-stethoscope:before {
	content: "\E595"
}

.glyphicon-hotspot:before {
	content: "\E596"
}

.glyphicon-activity:before {
	content: "\E597"
}

.glyphicon-watch:before {
	content: "\231A"
}

.glyphicon-scissors-alt:before {
	content: "\E599"
}

.glyphicon-car-wheel:before {
	content: "\E600"
}

.glyphicon-chevron-up:before {
	content: "\E601"
}

.glyphicon-chevron-down:before {
	content: "\E602"
}

.glyphicon-superscript:before {
	content: "\E603"
}

.glyphicon-subscript:before {
	content: "\E604"
}

.glyphicon-text-size:before {
	content: "\E605"
}

.glyphicon-text-color:before {
	content: "\E606"
}

.glyphicon-text-background:before {
	content: "\E607"
}

.glyphicon-modal-window:before {
	content: "\E608"
}

.glyphicon-newspaper:before {
	content: "\1F4F0"
}

.glyphicon-tractor:before {
	content: "\1F69C"
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1)
	}
	50% {
		-webkit-transform: scale(1.1)
	}
	100% {
		-webkit-transform: scale(1)
	}
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}
	50% {
		transform: scale(1.1)
	}
	100% {
		transform: scale(1)
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-200deg);
		opacity: 0
	}
	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(0);
		opacity: 1
	}
}

@keyframes rotateIn {
	0% {
		transform-origin: center center;
		transform: rotate(-200deg);
		opacity: 0
	}
	100% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1
	}
}

.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn
}

@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px)
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0)
	}
	40% {
		transform: translateY(-30px)
	}
	60% {
		transform: translateY(-15px)
	}
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce
}

@-webkit-keyframes swing {
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transform-origin: top center
	}
	20% {
		-webkit-transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(-10deg)
	}
	60% {
		-webkit-transform: rotate(5deg)
	}
	80% {
		-webkit-transform: rotate(-5deg)
	}
	100% {
		-webkit-transform: rotate(0deg)
	}
}

@keyframes swing {
	20% {
		transform: rotate(15deg)
	}
	40% {
		transform: rotate(-10deg)
	}
	60% {
		transform: rotate(5deg)
	}
	80% {
		transform: rotate(-5deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

.swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1)
	}
	10%,
	20% {
		-webkit-transform: scale(.9) rotate(-3deg)
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg)
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg)
	}
	100% {
		-webkit-transform: scale(1) rotate(0)
	}
}

@keyframes tada {
	0% {
		transform: scale(1)
	}
	10%,
	20% {
		transform: scale(.9) rotate(-3deg)
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale(1.1) rotate(3deg)
	}
	40%,
	60%,
	80% {
		transform: scale(1.1) rotate(-3deg)
	}
	100% {
		transform: scale(1) rotate(0)
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada
}

@media (min-width: 544px) {

	.store-map .navbar {
		border-radius: .25rem;
	}

	.store-map .navbar {
		position: relative;
		padding: .5rem 1rem;
	}

	.store-map .hidden-sm-up {
		display: none !important;
	}

	.store-map .navbar {
		border-radius: .25rem;
	}

	.store-map .form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}

	.store-map .form-inline .input-group .input-group-addon,
	.store-map .form-inline .input-group .input-group-btn,
	.store-map .form-inline .input-group .form-control {
		width: auto;
	}
	.store-map .form-inline .input-group>.form-control {
		width: 100%;
	}

	.store-map .form-inline .form-control,
	.store-map input[type=text].form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.store-map #placePanel {
		padding: 16px;
		background-color: transparent !important;
		background-repeat: repeat-x;
		background-image: linear-gradient(180deg, rgba(255,255,255,0.95), rgba(245,255,245,0.8));
	}
}

@media (min-width: 768px) {
	.store-map #placesPanel.state {
		display: block;
	}
}

.store-map *,
.store-map *::before,
.store-map *::after {
	box-sizing: border-box;
}

.store-map header {
	background: transparent;
}

.store-map .maplet-navbar {
	padding: 0;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid rgba(180,180,180,0.8);
	box-shadow: 0px 0px 20px #aaa;
	background-repeat: repeat-x;
	background-image: linear-gradient(45deg, rgba(255,255,255,0.9), rgba(255,255,255,0.8));
	display: table;
}

.store-map {
	position: absolute;
	width: 100%;
	margin: auto;
	height: 500px;
	overflow: hidden;
	color: #373a3c;
}

.store-map .navbar {
	position: relative;
	padding: .5rem 1rem;
}

.store-map .nav-container {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.store-map .maplet-navbar {
	padding: 0;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid rgba(180,180,180,0.8);
	box-shadow: 0px 0px 20px #aaa;
	background-repeat: repeat-x;
	background-image: linear-gradient(45deg, rgba(255,255,255,0.9), rgba(255,255,255,0.8));
	display: table;
}

.store-map #navbar-mobile {
	display: table;
}

.store-map #navbar-mobile.header-row {
	display: table-row;
	width: 100%;
}

.store-map #navbar-mobile.header-row .header-cell {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	padding: 4px 1px 1px 4px;
	border-right: 1px solid #ddd;
	float: none;
	color: #d2092d;
	white-space: nowrap;
}

#navbar-mobile.header-row .header-cell.open {
	background-color: #d2092d;
}

#navbar-mobile.header-row .header-cell.open button {
	color: white;
}

.store-map .navbar-toggler {
	padding: 8px 12px;
	font-size: 20px;
	line-height: 1;
	background: none;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: inherit;
}


.store-map #navbar-mobile .dropdown-menu {
	border-top: 3px solid #d2092d;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.store-map #navbar-mobile .dropdown-toggle:after {
	display: none;
}

.store-map #search-mobile-form {
	width: 85%;
	padding: 0px;
}


.store-map .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 1rem;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: .25rem;
}


.store-map .dropdown-menu-right {
	right: 0;
	left: auto;
}

.store-map #search-mobile-form .dropdown-item {
	background: white;
}

.store-map div.header-dropdown.dropdown-item {
	border-bottom: 1px solid #ddd;
	padding: 8px 16px;
	font-size: 1.2rem;
	background: white;
	color: #000 !important;
	line-height: normal;
}

.store-map .dropdown-item {
	display: block;
	width: 100%;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.5;
	color: #373a3c;
	text-align: inherit;
	white-space: nowrap;
	background: none;
	border: 0;
}

.store-map div.header-dropdown.dropdown-item span.fa {
	color: #d2092d;
	position: relative;
	top: 1px;
}

.store-map .fa.pull-right {
	margin-left: .3em;
}

.store-map .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.store-map .pull-right {
	float: right !important;
}

.store-map #search-mini-form {
	padding: 16px;
	padding-right: 0px;
}

.store-map .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.store-map #search-mini-form input {
	border-bottom-right-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.store-map .input-group-addon,
.store-map .input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.store-map .input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
}

.store-map .input-group-addon,
.store-map .input-group-btn,
.store-map .input-group .form-control,
.store-map .input-group input[type=text].form-control{
	display: table-cell;
}

.store-map #address_search_form_mini button {
	width: 3rem;
	background-color: transparent;
	color: #d2092d;
	line-height: 1rem;
}

.store-map .input-group-btn:last-child>.btn,
.store-map .input-group-btn:last-child>.btn-group {
	z-index: 2;
	margin-left: -1px;
}

.store-map .input-group .form-control:last-child,
.store-map .input-group-addon:last-child,
.store-map .input-group-btn:last-child>.btn,
.store-map .input-group-btn:last-child>.btn-group>.btn,
.store-map .input-group-btn:last-child>.dropdown-toggle,
.store-map .input-group-btn:first-child>.btn:not(:first-child),
.store-map .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.store-map .input-group-btn>.btn {
	position: relative;
}

.store-map .btn {
	display: inline-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
}

.store-map .btn {
	font-size: 0.8rem;
	padding: 0.5rem;
}

.store-map #search-mini-form span button>span {
	color: #d2092d;
}

.store-map #address_search_form_mini button span {
	padding: 0px;
	font-size: 1.2rem;
}

.store-map #search-item-mob {
	padding: 0;
}

.store-map .input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.store-map .form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #d2092d;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.store-map input[type=text].form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #d2092d;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.store-map .form-control:focus,
.store-map input[type=text].form-control:focus {
	color: #373a3c;
}

.store-map .form-control:focus,
.store-map input[type=text].form-control:focus {
	border-color: #373a3c;
	outline: none;
}

.store-map .filters {
	position: relative;
	font-size: 11px;
}

.store-map .filters .dropdown-menu {
	padding: 0;
}

.store-map .filter-dropdown .dropdown-item:first-child {
	border-top: none;
}

.store-map  .filters .dropdown-item {
	position: relative;
}

.store-map .filter-dropdown .dropdown-item {
	border-top: 1px solid #eceeef;
	padding: 0;
}

.store-map .filter:first-child {
	border-top: none;
}

.store-map .custom-checkbox {
	margin-bottom: 1px;
}

.store-map .custom-checkbox input[type='checkbox'] {
	display: none;
}

.store-map input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

.store-map input,
.store-map button,
.store-map select,
.store-map textarea {
	margin: 0;
	line-height: inherit;
	border-radius: 0;
}

.store-map #navbar-mobile .custom-checkbox input+label,
.store-map #navbar-mobile .custom-checkbox input+label span {
	font-size: 16px;
}

.store-map .filter-dropdown input+label {
	padding: 5px 60px 5px 11px;
}

.store-map  .custom-checkbox input+label {
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 0;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	user-select: none;
	width: 100%;
	line-height: normal;
}

.store-map .custom-checkbox label span {
	padding-left: 2px;
}

.store-map #navbar-desktop {
	display: table;
}

.store-map #navbar-desktop .header-row {
	display: table-row;
}

.store-map #navbar-desktop .header-row .header-cell {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	padding: 8px;
	border-right: 1px solid #ddd;
	white-space: nowrap;
}

.store-map #address_search_form {
	position: relative;
}

.store-map .input-wrapper {
	position: relative;
	display: inline-block;
}

.store-map #address {
	min-width: 300px;
}

.store-map #address {
	height: 37px;
	padding: 10px 30px 10px 12px;
	font-weight: bolder;
	font-size: 13px;
	line-height: normal;
}

.store-map #address_search_form button {
	height: 37px;
	font-size: 15px;
	font-weight: bold;
	padding: 0 15px 0;
	line-height: normal;
	vertical-align: top;
}

.store-map #address_search_form .form-reset {
	background: none;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 30px;
	height: 30px;
	border: none;
	padding: 0;
	text-align: center;
	display: none;/*none*/
	outline: none;
}

.store-map #address_search_form .form-reset span {
	top: 2px;
	color: #ccc;
}

.store-map .btn-primary-outline {
	color: #d2092d;
	background-image: none;
	background-color: transparent;
	border-color: #d2092d;
}

.store-map .btn-primary-outline:hover {
	color: #fff;
	background-color: #d2092d;
	border-color: #d2092d;
}

.store-map .maplet-navbar .btn-primary {
	font-size: 22px;
	padding: 5px 9px;
	line-height: normal;
	height: 37px;
	border-radius: .25rem;
}

.store-map .btn-primary {
	color: #fff;
	background-color: #d2092d;
	border-color: #d2092d;
}

.store-map .btn-primary:hover {
	color: #fff;
	background-color: #a10723;
	border-color: #970620;
}

.store-map .maplet-navbar .btn-primary span {
	position: relative;
	top: -1px;
}

.store-map .dropup,
.store-map .dropdown {
	position: relative;
}

.store-map #language-switcher .dropdown-toggle {
	padding: 6px 8px;
	min-width: 63px;/*1*/
	height: 37px;
	background-color: #fff;
	outline: none;
}

.store-map div#language-switcher button {
	border: #d2092d solid 1px;
	border-radius: .25rem;
}

.store-map .btn-secondary {
	color: #373a3c;
	background-color: #fff;
	border-color: #ccc;
}

.store-map .navbar img {
	display: inline-block;
	max-height: 30px;
}

.store-map #language-switcher .dropdown-toggle:after {
	font-family: 'FontAwesome';
	border: none;
	content: '\f078';
	width: auto;
	height: auto;
	font-size: 13px;
}

.store-map #language-switcher.open .dropdown-toggle::after {
	content: '\f00d';
	margin-left: 6px;
}

.store-map .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .25rem;
	vertical-align: middle;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}

.store-map img {
	vertical-align: middle;
}

.store-map #language-switcher .dropdown-menu {
	min-width: auto;
	padding: 4px 0;
	border: #d2092d solid 1px;
}

.store-map .open>.dropdown-menu {
	display: block;
}

.store-map #language-switcher .dropdown-item {
	padding: 0 18px 2px 19px;
}

.store-map .dropdown-item:hover {
	background-color: #4474A9;
	color: white !important;
}

.store-map #navbar-desktop .header-row .header-cell.filter-cell {
	padding: 0;
	position: relative;
}

.store-map #navbar-desktop .header-row .header-cell:last-child {
	width: 100%;
}

.store-map #top-filters,
.store-map #top-filters-medium {
	display: inline-block;
	margin-left: 35px;
}

.store-map .filters .filter-group {
	min-width: 100px;
	float: left;
	padding: 5px 14px;
}

.store-map #top-filters .custom-checkbox label:before,
.store-map #top-filters-medium .custom-checkbox label:before {
	margin-right: 0;
}

.store-map .custom-checkbox input[type='checkbox']+label:before {
	content: '\f096';
}

.store-map .custom-checkbox input+label:before {
	font-family: 'FontAwesome';
	font-weight: normal;
	display: inline-block;
	font-size: 19px;
	vertical-align: middle;
	margin-right: 4px;
}

.store-map .custom-checkbox input+label {
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 0;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	user-select: none;
	width: 100%;
	line-height: normal;
}

.store-map .custom-checkbox input:checked+label {
	font-weight: bold;
}

.store-map .custom-checkbox input[type='checkbox']:checked+label:before {
	content: '\f046';
}

.store-map .custom-checkbox input:checked+label:before {
	color: #d2092d;
}

.store-map .filter {
	border-radius: 0;
	padding: 0;
	background: none;
	border: none;
	overflow: auto;
}

.store-map .clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.store-map button {
	overflow: visible;
}

.store-map #medium-filters {
	padding: 6px 6px 0px 6px;
	border-top: #eceeef solid 1px;
	position: relative;
}

.navbar::after {
	content: "";
	display: table;
	clear: both;
}

.store-map #medium-filters .head-filter-label {
	margin-top: -11px;
}

.store-map .head-filter-label {
	display: inline-block;/*2 none*/
	color: #d2092d;
	font-size: 22px;
	line-height: 1;
	margin: 0 5px 0 10px;
	position: absolute;
	top: calc(50% - 10px);
}

.store-map #top-filters-medium {
	line-height: 1;
	padding-left: 25px;
}

.store-map #top-filters-medium .filter-group {
	margin: -5px 15px -7px -5px;
}

.store-map #placesPanel.collapse {
	display: block;
	right: 0px;
}

.store-map #placePanel,
.store-map #placesPanel {
	opacity: 0.9;
}

.store-map #placesPanel {
	margin-top: 73px;
	margin-bottom: -73px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: calc(100% - 90px);
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(255,255,255,0.7));
	z-index: 1;
}

.store-map #header-place-list-mobile,
.store-map #header-place-list {
	display: none;
	text-align: left;
	padding: 12px 10px 12px 10px;
	border-bottom: 1px solid #ddd;
	font-size: 1.3rem;
}

.store-map #header-place-list {
	border-bottom: 2px solid #fff;
	font-size: 19.2px;
	background-color: #575656;
	color: white;
}

.store-map #placesList {
	list-style-type: none;
	padding-left: 0;
	font-size: 0.9rem;
	margin-bottom: 0;
}

.store-map #placesList {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 93px;
	font-size: 0.9rem;
	border-color: #bebebe;
	background-color: #bebebe;
}

.store-map .placeGroup {
	border-bottom: 1px solid #b4b4b4;
	padding: 16px;
	font-size: 19.36px;
	font-weight: 500;
	margin-bottom: 0px;
}

.store-map .placeGroup div {
	display: table-cell;
}

.store-map ul li {
	margin-bottom: 0;
	min-width: auto;
	width: auto;
	float: none;
}

.store-map .placeGroup div img {
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.store-map .places_group ul {
	list-style-type: none;
	padding-left: 0;
}

.store-map ol ol,
.store-map ul ul,
.store-map ol ul,
.store-map ul ol {
	margin-bottom: 0;
}

.store-map ol,
.store-map ul,
.store-map dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

.store-map  .place {
	padding: 16px;
	border-bottom: 1px solid rgba(180,180,180,0.7);
	cursor: pointer;
}

.store-map .places_group ul {
	list-style-type: none;
	padding-left: 0;
}

.store-map .placeActions {
	float: left;
	width: 40px;
	clear: both;
	position: relative;
}

.store-map .actionButton,
.store-map .placeActions .placeActionBtn,
.store-map #leftTopButtons button {
	margin: 2px;
	padding: 3px 5px;
	background: white;
	background-image: none;
	border: 1px solid #d2092d;
	border-radius: .2rem;
	color: #d2092d;
	font-size: 12.8px;
}

.store-map .actionButton .glyphicon,
.store-map .placeActions .placeActionBtn .glyphicon,
.store-map #leftTopButtons button .glyphicon {
	padding: 0px;
	top: 3px;
	font-size: 12.8px;
}

.store-map .btn-default {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.store-map #placeDetails>div, #placesList .placeMeta {
	overflow-wrap: break-word;
}

.store-map .placeMeta {
	position: relative;
	float: left;
	width: 228px;
	box-sizing: border-box;
	padding-right: 1rem;
}

.store-map .placeMeta:before {
	content: "\E224";
	color: #818a91;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -0.6rem;
	font-size: 19.2px;
	font-family: 'Glyphicons Regular';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.store-map .place.open .placeMeta:before {
	content: "\E225";
	color: #d2092d;
}

.store-map .place.open,
.store-map .place.hover,
.store-map .place:hover {
	background-color: #f2f2f2;
}

.store-map p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.store-map #placesList p {
	margin-bottom: 2px;
	font-size: 14.4px;
}

.store-map #placePanel {

	display: none;
	position: absolute;
	right: 300px;
	width: 320px;
	float: right;
	top: 73px;
	border-right: 1px solid rgba(180,180,180,0.3);
	background-color: white;
	padding: 0;
	padding-bottom: 10px;
	height: -moz-calc(100% - 90px);
	height: -webkit-calc(100% - 90px);
	height: calc(100% - 90px);
	margin-bottom: -130px;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 1;
}

.store-map #placePanel {
	background-repeat: repeat-x;
	background-color: #fff;
	border-right: 1px solid rgba(180,180,180,0.3);
}

.store-map #details-buttons-mobile {
	display: table;
	border-bottom: 1px solid #ddd;
}

.store-map #details-buttons-mobile .header-row {
	display: table-row;
}

.store-map #details-buttons-mobile .header-row .header-cell {
	display: table-cell;
	vertical-align: middle;
	border-right: 1px solid #ddd;
	white-space: nowrap;
}

.store-map #details-buttons-mobile button {
	background: white;
	color: #d2092d;
	font-size: 17px;
}

.store-map #details-buttons-mobile button span.glyphicon {
	position: relative;
	top: 4px;
}

.store-map div#details-place-mobile {
	text-align: center;
	border: none;
	width: 100%;
}

.store-map #details-buttons-mobile .header-row .header-cell:last-child {
	padding: 0;
}

.store-map #details-buttons-mobile .header-row .header-cell:last-child {
	width: 100%;
}

.store-map #details-buttons-mobile .header-row .header-cell {
	display: table-cell;
	vertical-align: middle;
	border-right: 1px solid #ddd;
	white-space: nowrap;
}

.store-map #leftTopButtons {
	margin-bottom: 10px;
}

.store-map #leftTopButtons {
	border-bottom: 1px solid #ddd;
	display: block;
	width: auto;
	padding: 16px;
}

.store-map #leftTopButtons button {
	margin: 0 2px 0 0;
}

.store-map #leftTopButtons button.closeBtn {
	float: right;
	width: auto;
}

.store-map #leftTopButtons .closeBtn {
	border-color: #d2092d;
	color: #d2092d;
}

.store-map #leftTopButtons button:last-child {
	margin-right: 0;
}

.store-map #placePanel .contentWrapper {
	overflow-y: hidden;
	overflow-x: hidden;
	margin-top: 1rem;
}

.store-map #placeDetails {
	font-size: 14.4px;
	padding: 0px 16px 16px 16px;
}

.store-map #placeDetails p {
	margin-bottom: 0.5rem;
}

.store-map #drivingInstructions {
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	margin-bottom: 10px;
}

.store-map label {
	display: inline-block;
	margin-bottom: .5rem;
}

.store-map .input-group .form-control:first-child,
.store-map .input-group-addon:first-child,
.store-map .input-group-btn:first-child>.btn,
.store-map .input-group-btn:first-child>.btn-group>.btn,
.store-map .input-group-btn:first-child>.dropdown-toggle,
.store-map .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.store-map .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.store-map .form-control-sm,
.store-map .input-group-sm>.form-control,
.store-map .input-group-sm>input[type=text].form-control,
.store-map .input-group-sm>.input-group-addon,
.store-map .input-group-sm>.input-group-btn>.btn {
	padding: .275rem .75rem;
	font-size: .85rem;
	line-height: 1.5;
	border-radius: .2rem;
}



.store-map #placePanel .routePanel {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-y: auto;
	height: -moz-calc(100% - 75px);
	height: -webkit-calc(100% - 75px);
	height: calc(100% - 75px);
}

.store-map .input-group-btn:last-child>.btn,
.store-map .input-group-btn:last-child>.btn-group {
	z-index: 2;
	margin-left: -1px;
}

.store-map #placePanel .sp-footer {
	margin-top: 16px;
}

.store-map #placePanel .sp-footer #backToDetailsBtn {
	float: right;
	margin-right: 10px;
}

.store-map #top-filters button.dropdown-toggle,
.store-map #large-filters .head-filter-label {
	display: none;
}

/*map*/
#map {
	width: calc(100% - 20px);
	margin: auto;
	height: 500px;
	position: relative;
}

.store-map .tooltip,
.tooltip-left,
.tooltip-top {
	position: absolute;
	z-index: 1070;
	display: none;
	/*display: block;*/
	font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 13.6px;
}

.store-map .tooltip {
	padding: 5px 0;
	margin-top: 3px;
}

.store-map .tooltip-crosshairs {
	left: -27px;
}

.store-map .tooltip-arrows-alt {
	right: -27px;
}

.store-map .tooltip-arrow,
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.store-map .tooltip-inner,
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #d2092d;
	border-radius: .25rem;
}

.store-map .tooltip .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #d2092d;
}

.tooltip-left {
	left: 0;
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #d2092d;
}

.tooltip-top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #d2092d;
}

.tooltip-top {
	padding: 5px 0;
	margin-top: -3px;
}

.ymaps-2-1-55-panorama-screen {
	position: absolute !important;
	top: 0;
	z-index: 10;
}

@media (min-width: 544px) {
	.store-map #header-place-list {
		display: block;
	}

	.store-map #header-place-list-mobile {
		display: none;
	}

}

@media screen and (max-width: 1024px) {

	.store-map #large-filters .head-filter-label {
		display: block;
	}

	.store-map #top-filters button.dropdown-toggle,
	.store-map #top-filters-medium button.dropdown-toggle {
		display: block;
		border-color: #d2092d;
		min-width: 150px;
		text-align: left;
		color: #d2092d;
		background-color: #fff;
		height: 37px;
		font-weight: bolder;
		font-size: 12.8px;
		outline: none;
	}

	.store-map #top-filters button span.label-filter,
	.store-map #top-filters-medium button span.label-filter {
		display: inline-block;
		float: left;
	}

	.store-map .dropdown-toggle i {
		float: right;
		margin-top: 3px;
	}

	.store-map .dropdown-toggle i:before {
		content: '\f078';
	}

	.store-map #top-filters .btn-secondary:after {
		display: none;
	}

	.store-map #top-filters .filter-group {
		padding: 0;
		opacity: 0.8;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;
		display: none;
		float: left;
		min-width: 160px;
		margin: -1px 0 0;
		font-size: 1rem;
		text-align: left;
		list-style: none;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,0.15);
		border-radius: .25rem;
	}

	.store-map #top-filters .filters.open .filter-group {
		display: block;
	}

	.store-map #top-filters .custom-checkbox {
		padding: 0;
		display: block;
		width: 100%;
		clear: both;
		font-weight: normal;
		line-height: 1.5;
		color: #373a3c;
		text-align: inherit;
		white-space: nowrap;
		background: none;
		border: 0;
	}

	.store-map #top-filters .custom-checkbox:first-child {
		border-top: none;
	}

	.store-map #top-filters input+label {
		padding: 5px 60px 5px 11px;
	}

	.store-map #top-filters .custom-checkbox {
		border-top: 1px solid #eceeef;
		padding: 0;
	}

	.store-map #top-filters .custom-checkbox input+label:before {
		visibility: hidden;
		font-size: 16px;
	}

	.store-map #top-filters .custom-checkbox:hover {
		background-color: #4474A9;
		color: white !important;
	}

	.store-map #top-filters .custom-checkbox:hover>input+label:before {
		color: white;
	}

	.store-map #top-filters .custom-checkbox input:checked+label:before {
		content: '\f00c';
		visibility: visible;
	}

	.store-map #top-filters .filters.open .dropdown-toggle i:before {
		content: '\f00d';
	}

	.store-map #placePanel {
		right: 0;
	}

	.page-wrapper-new .cataloge_list .store-map img {
		width: auto;
	}

}

@media screen and (max-width: 770px) {
	#map {
		height: 400px;
	}

	.store-map {
		height: 400px;
	}

	.store-map #placePanel,
	.store-map #placesPanel {
		opacity: 1;
		background-image: none;
		background-color: white !important;
	}

	.store-map #placesPanel {
		margin-top: 69px;
		margin-bottom: -69px;
		height: calc(100% - 86px);
	}

	.store-map #placePanel {
		top: 69px;
		height: calc(100% - 86px);
	}

	.store-map .hidden-xs-down {
		display: none !important;
	}

	.store-map #navbar-mobile.header-row {
		display: table-row !important;
	}

	.store-map #placesPanel.collapse {
		display: none;
	}

	.store-map #placesPanel {
		margin-top: 0;
		top: 43px;
		margin-bottom: -43px;
		height: calc(100% - 60px);
		left: 0px;
		border-top: 3px solid #d2092d;
	}

	.store-map #header-place-list {
		display: none;
	}

	.store-map #header-place-list-mobile {
		display: block;
		position: relative;
		padding: 8px 40px 8px 16px;
		font-size: 20.8px;
	}

	.store-map #header-place-list-mobile:after {
		position: absolute;
		right: 16px;
		top: 8px;
		font-family: FontAwesome;
		content: '\f00d';
		color: #d2092d;
	}

	.store-map #placePanel {
		top: 43px;
		height: calc(100% - 60px);
		display: none;
		right: 0px;
		margin-bottom: 0px;
		padding: 0;
		border-top: 3px solid #d2092d;
	}

	.store-map #details-buttons-mobile {
		display: table !important;
		font-size: 16px;
	}

	.store-map #details-buttons-mobile button {
		padding: 8px;
	}

	.store-map  #placePanel .contentWrapper {
		padding: 16px;
	}

	.store-map #search-mobile-form {
		/*display: block;*//*2*/
	}

	.store-map div.dropdown-menu {
		margin-top: -1px;
		opacity: 0.8;
	}

	.store-map div.header-dropdown.dropdown-item {
		font-size: 19.2px;
	}

	.store-map .form-inline .input-group {
		position: relative;
		display: table;
		border-collapse: separate;
		width: 100%;
	}

	.store-map #search-mini-form input {
		padding: 6px 12px;
		font-size: 16px;
	}

	.store-map .input-group .form-control {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

	.store-map  #navbar-mobile.header-row .header-cell button {
		outline: none;
	}

	.store-map  #navbar-mobile.header-row .header-cell.open button {
		color: white;

	}

	.store-map #address_search_form_mini button {
		width: 48px;
		background: transparent;
		padding: 8px;
	}

	.store-map #address_search_form_mini button span {
		font-size: 19.2px;
	}

	.store-map .input-group-addon,
	.store-map .input-group-btn,
	.store-map #search-mini-form .form-inline .input-group-btn{
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
	}

	.store-map #filters-mobile .dropdown-menu {
		/*display: block;*//*2*/
	}

	.store-map .filter-dropdown .custom-checkbox input+label:before {
		visibility: hidden;
		font-size: 16px;
	}

	.store-map  .filter-dropdown .custom-checkbox input:checked+label:before {
		content: '\f00c';
		visibility: visible;
	}

	.store-map .filter-dropdown .dropdown-item:hover>.custom-checkbox>input+label:before {
		color: white;
	}

}