@font-face {
	font-family: "novitoregular";
	src: url('../fonts/Novito.ttf'),
	url('../fonts/Novito.eot'),
	url('../fonts/Novito.svg'),
	url('../fonts/Novito.woff');
}

@font-face {
	font-family: "HelveticaNeueCyrBold";
	src: url('../fonts/HelveticaNeueCyr-Bold.otf'),
url('../fonts/HelveticaNeueCyr-Bold.eot'),
url('../fonts/HelveticaNeueCyr-Bold.svg'),
url('../fonts/HelveticaNeueCyr-Bold.ttf'),
url('../fonts/HelveticaNeueCyr-Bold.woff');
}

@font-face {
	font-family: "HelveticaNeueCyrMedium";
	src: url('../fonts/HelveticaNeueCyr-Medium.otf'),
	url('../fonts/HelveticaNeueCyr-Medium.eot'),
	url('../fonts/HelveticaNeueCyr-Medium.svg'),
	url('../fonts/HelveticaNeueCyr-Medium.ttf'),
	url('../fonts/HelveticaNeueCyr-Medium.woff');
}

@font-face {
	font-family: "HelveticaNeueCyrRoman";
	src: url('../fonts/HelveticaNeueCyr-Roman.otf'),
	url('../fonts/HelveticaNeueCyr-Roman.eot'),
	url('../fonts/HelveticaNeueCyr-Roman.svg'),
	url('../fonts/HelveticaNeueCyr-Roman.ttf'),
	url('../fonts/HelveticaNeueCyr-Roman.woff');
}

.page-wrapper-new .catalog-slider-menu {
	display: none;
	padding: 24px 20px 7px;
	background-color: #fff;
	text-align: justify;
	-ms-text-align-last: justify;
	text-align-last: justify;
	-moz-text-align-last: justify;
}

.page-wrapper-new a.catalog-slider-menu-item {
	padding: 10px 0;
	margin-bottom: 10px;
	display: inline-block;
	width: 113px;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	background-color: #d2092d;
	font-family: "HelveticaNeueCyrMedium";
	text-align: center;
	-ms-text-align-last: center;
	text-align-last: center;
	-moz-text-align-last: center;
}

.page-wrapper-new .news-subscription {
	display: none;
	padding: 15px 20px 26px;
	background-color: #d7d7d7;
	font-family: "HelveticaNeueCyrRoman";
}

.page-wrapper-new .news-subscription-head {
	padding-right: 13px;
	position: relative;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.page-wrapper-new .news-subscription-head:after {
	content: "";
	width: 13px;
	height: 9px;
	background: url("../img/arrow.png") no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -4px;
	transform: rotate(180deg);
}

.page-wrapper-new .news-subscription-head-active:after {
	transform: rotate(0deg);
}

.page-wrapper-new .news-subscription-form {
	margin-top: 15px;
}

.page-wrapper-new .news-subscription-form input {
	margin-bottom: 12px;
	height: 27px;
	width: calc(100% - 10px);
	border-radius: 0;
	border: none;
	text-align: center;
	font-size: 24px;
	font-family: "HelveticaNeueCyrRoman";
}

.page-wrapper-new .news-subscription-form input::-webkit-input-placeholder {
	color:#464646;
}

.page-wrapper-new .news-subscription-form input::-moz-placeholder          {
	color:#464646;
}

.page-wrapper-new .news-subscription-form input:-moz-placeholder           {
	color:#464646;
}

.page-wrapper-new .news-subscription-form input:-ms-input-placeholder      {
	color:#464646;
}

.page-wrapper-new .news-subscription-form-btn {
	height: 37px;
	width: 100%;
	background: #d2092d;
	border-radius: 0;
	font-size: 24px;
	padding: 0;
	font-family: "HelveticaNeueCyrRoman";
}

.page-wrapper-new .contact-phone-number {
	display: none;
	margin-bottom: -10px;
	padding: 14px 20px;
	background-color: #fff;
}

.page-wrapper-new a.contact-phone-number-link {
	padding: 15px 0;
	display: block;
	font-family: "HelveticaNeueCyrBold";
	font-size: 22.81px;
	text-decoration: none;
	text-align: center;
	color: #202020;
	background-color: #d7d7d7;
}

.page-wrapper-new .mobile-menu-tabs {
	display: none;
	width: calc(100% - 54px);
	position: absolute;
	top: 0;
	background-color: #202020;
}

.page-wrapper-new a.tab-link {
	display: table-cell;
	height: 70px;/*4*/
	font-size: 16.64px;
	color: #cccccc;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.page-wrapper-new .mobile-menu-tabs .tab-link-active {
	color: #000000;
	background-color: #cccccc;
}

.page-wrapper-new .nav_header {
	background-color: #959595;/*1*/
}

.page-wrapper-new .header_menu-mobile {
	display: none;
	width: 100%;
	border-top: 1px solid #fff;
	background-color: #959595;
}

.page-wrapper-new .header_menu-mobile ul {
	margin-bottom: 0;
}

.page-wrapper-new .header_menu-mobile li {
	border-bottom: 1px solid #707070;
}

.page-wrapper-new #navi a.header_menu-mobile-link,
.page-wrapper-new .width_960-new a.header_menu-mobile-link {/*3*/
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 16px 20px;
	font-size: 16.64px;
}

.page-wrapper-new .mobile-menu-bg {
	display: none;
	width: 54px;
	height: 100%;/*1*/
	position: absolute;
	right: 0;
	top: 0;/*1*/
	background: transparent;/*1*/
	background-position: 100% 0 ;
	background-size: auto 100%;
	border-left: 1px solid #fff;
}

.hide_slide_mob {
	/*font-size: 17px;*/
	display: none;
}

.page-wrapper-new .width_960-mobile {/*3*/
	display: none;
}

@media screen and (max-width: 1023px) {
	
	/* Фикс для меню в каталоге */
	.auto_center-new *,
	.width_960-new * {
		box-sizing: content-box;
	}

	.page-wrapper-new .auto_center-new {
		padding: 0 13px;
	}

	.page-wrapper-new .header_info {
		height: 55px;
		padding-top: 15px;
	}

	.page-wrapper-new .mobile-menu {/*4*/
		width: 26px;
		height: 21px;
		top: 50%;
		margin-top: -10.5px;
		left: 22px;
		-webkit-transition: transform 300ms ease-in-out;
		-moz-transition: transform 300ms ease-in-out;
		-ms-transition: transform 300ms ease-in-out;
		-o-transition: transform 300ms ease-in-out;
		transition: transform 300ms ease-in-out;
	}

	.page-wrapper-new .mobile-menu span {
		height: 4px;
		margin-top: -2px;
		transition: none;
	}

	.mobile-menu-new-wrap {/*4*/
		position: fixed;
		margin-top: 0;
		width: 54px;
		height: 70px;
		background-color: #d2092d;
		border-bottom: 1px solid #fff;
	}
	
	.page-wrapper-new .mobile-menu-new {/*1*/
		position: absolute;
		/*margin-top: 0;
		top: 0;
		left: -1px;
		width: 54px;
		height: 70px;*/
		left: auto;
		right: 14px;
	}
	.page-wrapper-new .mobile-menu:before,
	.page-wrapper-new .mobile-menu:after {
		height: 4px;
	}

	.page-wrapper-new .header_logo span,
	.page-wrapper-new .header_logo a {
		display: block;
		width: 100%;
		height: 100%;
	}

	.page-wrapper-new .header_logo span img {
		display: none;
	}

	.page-wrapper-new .header_logo {
		width: 131px;
		height: 33px;
		padding: 0;
		margin-left: 70px;
		background: url("../img/mobile_logo.png") no-repeat;
	}

	.page-wrapper-new .header-shop {
		width: 138px;
		left: auto;
		right: 13px;
		top: 14px;
		text-align: left;
	}

	.page-wrapper-new .hover_back {
		margin: 0 15px 0 0 !important;
	}

	.page-wrapper-new .search_header {
		font-size: 25px;
	}

	.page-wrapper-new  .popup-link-new {
		display: inline-block;
		margin-right: 9px;
		padding: 7px 5px 7.4px 5px;
		border-radius: 5px;
	}

	.page-wrapper-new  .popup-link-new:hover {
		background-color: #bd0828;
	}

	.page-wrapper-new .avtorized_user {
		width: 22px;
		height: 25px;
		background: url("../img/user_logo.png") no-repeat;
		padding: 0;
		margin: 0;
		border-radius: 0;
	}

	.page-wrapper-new .avtorized_user img {
		display: none;
	}

	.page-wrapper-new .line_basket {
		display: inline-block;
		width: 18px;
		height: 25px;
		padding: 0;
		position: relative;
		background: url("../img/basket_logo.png") no-repeat;
		border-radius: 0;
	}

	.page-wrapper-new .line_basket img{
		display: none;
	}

	.page-wrapper-new .line_basket span{
		width: 16px;
		height: 13px;
		padding-top: 3px;
		margin: 0;
		position: absolute;
		left: 17px;
		top: -9px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		font-size: 12.55px;
		color: #ed1c24;
		background-color: #fff;
		text-align: center;
	}

	.page-wrapper-new .no_color-new {
		display: inline-block;
		padding: 7px 5px 7.4px 5px;
		border-radius: 5px;
	}

	.page-wrapper-new  .no_color-new:hover {
		background-color: #bd0828;
	}

	.page-wrapper-new .header_menu {
		display: none;
	}

	.page-wrapper-new .inner-new {
		padding: 0;
		margin-top: 8px;
	}

	.page-wrapper-new .catalog-slider {
		display: block;
		height: 192px;
		margin-bottom: 0;
	}

	.page-wrapper-new .catalog-slider .btn_link,
	.page-wrapper-new .catalog-slider .slide-text{
		/*display: none;*//*Надпись для мобильной версии*/
	}

	.page-wrapper-new .catalog-slider .flex-direction-nav {
		display: none;
	}

	.page-wrapper-new  .block_index-new {
		display: none;
	}

	.page-wrapper-new .catalog-slider .flex-control-nav li a {
		border-color: #d7d7d7;
		background-color: #d7d7d7;
	}

	.page-wrapper-new .catalog-slider .flex-control-nav li a.flex-active {
		border-color: #555555;
		background-color: #555555;
	}

	.page-wrapper-new .flex-control-paging {
		/*top: 199px;*//*Точки перекрывали ссылку на моб. версии*/
	}

	.page-wrapper-new .catalog-slider-menu {
		display: block;
	}

	.page-wrapper-new .cataloge_list img {
		width: 100%;
	}

	.page-wrapper-new #block_index {
		padding-top: 0 !important;
		margin-bottom: 9px;
		overflow: hidden;
		line-height: 1.0;
	}

	.page-wrapper-new #block_index a div {
		padding: 0 !important;
		width: 251px !important;
		margin-left: -125px !important;
		left: 50% !important;
		bottom: 13px !important;
		background-color: transparent !important;
		font-size: 24px !important;
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
		font-family: "HelveticaNeueCyrBold";
		line-height: 24px;
	}

	.page-wrapper-new .cataloge_list-new {
		display: none;
	}

	.page-wrapper-new .news-subscription,
	.page-wrapper-new .contact-phone-number {
		display: block;
	}

	.footer-new {
		padding-top: 35px;
		padding-bottom: 45px;
		border: none;
	}

	.footer-new .footer_menu,
	.footer-new .border_bottom_footer,
	.footer-new .language-btn {
		display: none;
	}

	.footer-new .auto_center {
		margin-bottom: 42px;
	}

	.footer-new .social_icon {
		float: none;
		text-align: center;
		margin-right: 13px;
	}

	.footer-new .social_icon a {
		display: inline-block;
		margin-left: 13px;
	}

	.footer-new .logotip_footer {
		display: none;
	}

	.footer-new .center_copirait_footer {
		font-size: 18px;
	}

	.page-wrapper-new .mobile-menu-tabs {
		display: table;
	}

	.page-wrapper-new {
		overflow: hidden;
	}

	.page-wrapper-new .wrapper-padding {
		transition: transform 0.5s;
	}

	.page-wrapper-new .wrapper-padding.active {
		position: relative;
		transform: translateX(calc(100% - 53px));
		z-index: 100;
	}
	
		.page-wrapper-new #navi {/*3*/
		display: none;
	}

	.page-wrapper-new .width_960-mobile {/*3*/
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		overflow-y: auto;
		height: auto;
		text-align: left;
		background: #141411;
	}


	.width_960-new .nav_header > ul {/*3*/
		text-align: left;
	}

	.width_960-new .nav_header ul li {/*3*/
		display: block;
		font-size: 14px;
		background: none;
	}
	
	.page-wrapper-new #navi,
	.page-wrapper-new .width_960-new {/*2*//*3*/
		width: 100%;
		left: -100%;
		right: auto;
		padding-top: 70px;/*4*/
		background-color: transparent;/*1*/
		transition: left 0.5s;
		z-index: 101;
	}

	.page-wrapper-new #navi .nav_header > ul,
	.page-wrapper-new .width_960-new .nav_header > ul {/*1*//*3*/
		display: block;
		margin-bottom: 0;
		background-color: #d2092d;
	}

	.page-wrapper-new .width_960-new li a {/*3*/
		padding: 10px 20px;
	}

	.page-wrapper-new .active#navi,
	.page-wrapper-new .active.width_960-new {/*3*/
		left: 0;
	}

	.page-wrapper-new .active.mobile-menu {/*4*/
		margin-top: 0;
		width: 26px;
		height: 26px;
		top: 22px;
		left: 14px;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition: transform 300ms ease-in-out;
		-moz-transition: transform 300ms ease-in-out;
		-ms-transition: transform 300ms ease-in-out;
		-o-transition: transform 300ms ease-in-out;
		transition: transform 300ms ease-in-out;
	}

	.page-wrapper-new .active.mobile-menu:before {/*4*/
		content: '';
		width: 100%;
		height: 2px;
		top: 12px;
		left: 0px;
		transition: none;
		-webkit-transition: transform 300ms ease-in-out;
		-moz-transition: transform 300ms ease-in-out;
		-ms-transition: transform 300ms ease-in-out;
		-o-transition: transform 300ms ease-in-out;
		transition: transform 300ms ease-in-out;
	}

	.page-wrapper-new .mobile-menu:before {/*4*/
		transition: none;
		-webkit-transition: transform 300ms ease-in-out;
		-moz-transition: transform 300ms ease-in-out;
		-ms-transition: transform 300ms ease-in-out;
		-o-transition: transform 300ms ease-in-out;
		transition: transform 300ms ease-in-out;
	}

	.page-wrapper-new .active.mobile-menu:after {/*4*/
		width: 100%;
		height: 2px;
		top: 12px;
		left: 0px;
		-webkit-transition: transform 300ms ease-in-out;
		-moz-transition: transform 300ms ease-in-out;
		-ms-transition: transform 300ms ease-in-out;
		-o-transition: transform 300ms ease-in-out;
		transition: transform 300ms ease-in-out;
	}

	.page-wrapper-new .nav_header {
		width: calc(100% - 54px);
		height: 100%;
		margin-left: 0;
		border-width: 1px 1px 0 0;
		border-style: solid;
		border-color: #fff;
	}

	.page-wrapper-new .has-children {
		border-bottom: 1px solid #acacac;
	}

	.page-wrapper-new .has-children:last-child {
		border: none;
	}

	.page-wrapper-new .nav_header li.has-children > a:before {
		width: 23px;
		height: 14px;
		margin-top: -7px;
		right: 18px;
		background: url("../img/mobile_arrow.png") no-repeat;
		border: none;
	}

	.page-wrapper-new .nav_header li.has-children > a.has-children-link-active:before {
		transform: rotate(180deg);
	}

	.page-wrapper-new #navi li.has-children > a,
	.page-wrapper-new .width_960-new li.has-children > a {/*3*/
		padding: 24px 41px 24px 20px;
		font-size: 19.41px;
	}

	.page-wrapper-new .sub-menu {
		background-color: #202020;
	}

	.page-wrapper-new .header_menu-mobile,
	.page-wrapper-new .mobile-menu-bg {
		display: block;
	}

	.page-wrapper-new .has-children .sub-menu {
		padding: 0;
	}

	.page-wrapper-new .has-children .sub-list h3 {
		margin-left: 32px;
		margin-bottom: 0;
		border-top: 1px solid #464646;
	}

	.page-wrapper-new .has-children .sub-list ul {
		margin: 20px 0;
		margin-left: 32px;
	}

	.page-wrapper-new .has-children .sub-list h3:first-child {
		border: none;
	}

	.page-wrapper-new #navi .has-children .sub-list h3 a,
	.page-wrapper-new .width_960-new .has-children .sub-list h3 a{/*3*/
		display: block;
		padding: 12px 20px 12px 0;
		font-size: 16.63px;
		color: #959595;
		text-decoration: none;
	}
	
	/*111111*/
	.page-wrapper-new .header_logo {
		margin-top: 0;
	}

	.page-wrapper-new .mobile-menu div {
		display: none;
	}

	.page-wrapper-new .catalog-slider-menu-wrap {
		max-width: 400px;
		margin: auto;
	}
	
	.unlogin-new {
		display: none;
	}
	
	.hide_slide {
		/*font-size: 17px;*/
		display: none !important;/*Скрываем слайдер обычной версии на главной*/
	}
	
	.hide_slide_mob {
		/*font-size: 17px;*/
		display: block;
	}
}

@media screen and (max-width: 385px) {
	.page-wrapper-new .header-shop {
		width: 138px !important;
	}

	.page-wrapper-new .header_logo {
		margin-left: 55px;
	}

	.page-wrapper-new .catalog-slider-menu {
		text-align: center;
		-ms-text-align-last: center;
		text-align-last: center;
		-moz-text-align-last: center;
	}

	.page-wrapper-new .hover_back {
		margin: 0 5px 0 10px !important;
	}

}

/* resize слайдера */
.page-wrapper-new .catalog-slider {
	height: auto;
}

.page-wrapper-new .catalog-slider img {
	width: 100%;
}

.page-wrapper-new .catalog-slider:before,
.page-wrapper-new .catalog-slider:after {
	content: "";
	clear: both;
	display: table;
}
/* /resize слайдера */





/* Правки 13.07.17
@font-face {
	font-family: "novitoregular";
	src: url('../fonts/Novito.ttf');
}

@font-face {
	font-family: "HelveticaNeueCyrBold";
	src: url('../fonts/HelveticaNeueCyr-Bold.otf');
}

@font-face {
	font-family: "HelveticaNeueCyrMedium";
	src: url('../fonts/HelveticaNeueCyr-Medium.otf');
}

@font-face {
	font-family: "HelveticaNeueCyrRoman";
	src: url('../fonts/HelveticaNeueCyr-Roman.otf');
}

@font-face {
	font-family: "helveticaneuecyrthin";
	src: url('../fonts/HelveticaNeueCyr-Thin.otf');
} */

.page-wrapper-new .product {
	padding-bottom: 0;
}

.page-wrapper-new .big-image-new {
	background-color: #fff;
}

.page-wrapper-new .product-left-new {
	position: relative;
}

.page-wrapper-new .fr-tag-wrapper {
	max-width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	line-height: 1.375;
}

.page-wrapper-new .discount-percentange-tag {
	display: flex;
	margin-bottom: 2px;
	padding: 10px;
	justify-content: center;
	font-size: 18px;
	background: #d2092d;
	font-weight: bold;
	color: #ffffff;
	z-index: 99;
	border-radius: 2px;
}

.product-right-new {
	font-size: 16px;
	line-height: 1.375;
}

.reviews-new {/*1*/
	display: none;
}

.product-left-inner-new {
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.price-block-new {
	border: none;
	padding-bottom: 0;
}

a.read-more-btn {
	display: inline-block;
	margin-bottom: 10px;
	color: #d2092d;
	text-decoration: none;

}

.product-right-new .haracther {
	font-size: 16px;
}

.product-right-new .product-color .haracther {
	margin: 0;
}

.product-right-new  .images-color {
	margin-top: 6px;
	margin-bottom: 10px;
}

.product-right-new  .images-color span {
	position: relative;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	color: #fff;
	display: inline-block;
	border: none;
}

.product-right-new  .images-color span.active {
	height: 29px;
	padding-top: 3px;
	border: 1px solid #666;
	-webkit-box-shadow: inset 0 0 0 2px #fff;
	-moz-box-shadow: inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0 2px #fff;
	background-color: #fff;
}

.product-right-new  .images-color span.active img {
	margin: auto;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.product-right-new  .images-color img {
	height: 32px;
	width: 32px;
	border-radius: 50%;
}


.product-right-new .card__content-row_checkboxes {
	margin-bottom: 15px;
}

.product-right-new .sizes-left ul {
	display: block;

}

.product-right-new .checkbox-tile {
	margin: 0;
	min-width: 10.7%;
}

.product-right-new .sizes-left label {
	display: inline-block;
	margin-bottom: 0;
	width: calc(100% - 20px);
	height: auto;
	line-height: 1.375;
	font-weight: normal;
	vertical-align: middle;
	touch-action: manipulation;
	background-image: none;
	font-size: 15px;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	margin-top: -1px;
	margin-left: -1px;
	padding: 10px;
	float: left;
	border: 1px solid #ccc;
	cursor: pointer;
	border-radius: 0;
	white-space: nowrap;
	text-align: center;
	min-width: auto;
	background-color: #fff;
	z-index: 1;
	color: #202020;
}

.product-right-new .checkbox-tile__label:hover {
	box-shadow: none;
}

.product-right-new .checkbox-tile__label:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.product-right-new label.checkbox-tile__label-disabled {
	overflow: hidden;
	color: #ccc;
	background-color: #f2f2f2;
	opacity: 1;
}

.product-right-new label.checkbox-tile__label-disabled li {
	color: #ccc;
	background-color: #f2f2f2;
}

.product-right-new label.checkbox-tile__label-disabled li:hover {
	color: #ccc;
}

.product-right-new .checkbox-tile__label-disabled:before,
.product-right-new .checkbox-tile__label-disabled:after {
	content: "";
	width: 100%;
	position: absolute;
	right: 0;
	margin: auto;
	top: 50%;
	border-bottom: 1px solid #ccc;
}

.product-right-new .checkbox-tile__label-disabled:before {
	-webkit-transform: skewY(-34deg);
	transform: skewY(-34deg);
}

.product-right-new .checkbox-tile__label-disabled:after {
	-webkit-transform: skewY(34deg);
	transform: skewY(34deg);
}

.product-right-new .sizes-left .checkbox-tile.active label {
	font-weight: bold;
	background-color: #4c9d45;
	border-color: #4c9d45 !important;
	color: #fff;
	z-index: 2;
	-webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.15)!important;
	-moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.15)!important;
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,.15)!important;
}

.product-right-new .sizes-left .checkbox-tile.active label  li {
	background-color: #4c9d45;
	color: #fff;
}

.product-right-new .sizes-left li {
	border: none;
	border-radius: 0;
	font-size: 15px;
	line-height: 1.375;
	height: auto;
	margin: 0;
	padding: 0;
}
.product-right-new .sizes-left li.active,
.product-right-new .sizes-left li:hover {
	background: transparent;
	border-top: none;
	color: #202020;
}

.product-right-new .low-stock-notification {
	margin-bottom: 15px;
	display: none;
	font-size: 16px;
	line-height: 1.375;
}

.product-right-new .message-box {
	padding: 15px 15px;
	color: #fff;
	border-radius: 3px;
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product-right-new .orange {
	background-color: #fa7a16;
	color: #fff;
}


.product-right-new .table-size {
	padding: 0;
	font-size: 16px;
	background: transparent;
	line-height: 1.375;
}

.product-right-new .table-size:hover {
	background: transparent;
	color: #d0102a;
}

.product-right-new .nearest-store {
	margin-bottom: 32px;
	color: #d0102a;
}

.product-right-new .pdp-delivery {
	clear: both;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 14px;
	color: #666;
	overflow: hidden;
}

.product-right-new .pull-left {
	float: left;
}

.product-right-new .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.product-right-new .fa-truck:before {
	content: "\f0d1";
}

.product-right-new .pdp-delivery .custom-text-component {
	width: auto;
	float: right;
	padding: 0 15px;
}

.product-right-new .custom-text-component h3,
.product-right-new .custom-text-component p,
.product-right-new .custom-banner-component h3,
.product-right-new .custom-banner-component p {
	line-height: 20px;
}

.product-right-new .pull-right {
	float: right;
}

.product-right-new a.pdp-delivery-link {
	color: #d2092d;
	text-align: right;
	text-decoration: none;
}

.product-right-new a.pdp-delivery-link:hover {
	text-decoration: underline;
}

.product-right-new .sharing-toolbar {
	width: 100%;
}

.product-right-new .sharing-toolbar .rrssb-buttons {
	margin: 20px auto 0;
}

.product-right-new .social-share-buttons {
	margin: 20px auto;
	width: 200px;
	text-align: center;
	box-sizing: border-box;
}

.product-right-new .social-share-buttons li {
	display: inline-block;
	background-color: #fff;
	min-width: 45px;
	font-size: 20px;
	padding: 6px 10px;
	border-radius: 3px;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 1px;
	width: auto !important;
}

.product-right-new .social-share-buttons li a {
	color: #000;
	display: block;
	width: 100%;
	height: 100%;
}

.product-right-new .fa-facebook-f:before, .fa-facebook:before {
	content: "\f09a";
}

.product-right-new .social-share-buttons li:hover {
	background-color: #d2092d;
}

.product-right-new .social-share-buttons li:hover a {
	color: #fff;
}

.product-right-new .fa-twitter:before {
	content: "\f099";
}

.product-right-new .fa-pinterest:before {
	content: "\f0d2";
}

.product-right-new .fa-envelope:before {
	content: "\f0e0";
}

/* Новые иконки социальных сетей */
.product-right-new .fa-vkontakte:before {
	content: "\f189";
}
.product-right-new .fa-odnoklassniki:before {
	content: "\f263";
}
.product-right-new .fa-instagram:before {
	content: "\f16d";
}

.nav-tabs-container {
	margin-top: 30px;
	border: none;
	font-size: 16px;
	line-height: 1.375;
	color: #202020;
	overflow: hidden;
}

.nav-tabs-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-tabs-container .nav-tabs-custom {
	list-style: none;
	padding: 0;
	margin: 0 0 -1px;
	text-align: center;
}

.nav-tabs-container .nav-tabs-custom > li.active {
	border-bottom-color: #fff;
	background-color: #fff;
}

.nav-tabs-container .nav-tabs-custom > li {
	position: relative;
	padding: 0;
	margin: 0 3px;
	display: inline-block;
	vertical-align: bottom;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	max-height: 60px;
}

.nav-tabs-container .nav-tabs-custom > li.active > a,
.nav-tabs-container .nav-tabs-custom > li > a:hover {
	color: #202020!important;
}

.nav-tabs-container .nav-tabs-custom > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #d2092d;
	text-decoration: none;
}

.nav-tabs-container .product-description-tabs {
	background: #fff;
	border-top: 1px solid #ccc;
	padding: 30px 0;
}

.nav-tabs-container .container-fluid,
.global-popup-new .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.nav-tabs-container .clearfix:before,
.nav-tabs-container .clearfix:after,
.nav-tabs-container .dl-horizontal dd:before,
.nav-tabs-container .dl-horizontal dd:after,
.nav-tabs-container .container:before,
.nav-tabs-container .container:after,
.nav-tabs-container .container-fluid:before,
.nav-tabs-container .container-fluid:after,
.nav-tabs-container .row:before,
.nav-tabs-container .row:after,
.nav-tabs-container .form-horizontal .form-group:before,
.nav-tabs-container .form-horizontal .form-group:after,
.nav-tabs-container .btn-toolbar:before,
.nav-tabs-container .btn-toolbar:after,
.nav-tabs-container .btn-group-vertical > .btn-group:before,
.nav-tabs-container .btn-group-vertical > .btn-group:after,
.nav-tabs-container .nav:before,
.nav-tabs-container .nav:after,
.nav-tabs-container .navbar:before,
.nav-tabs-container .navbar:after,
.nav-tabs-container .navbar-header:before,
.nav-tabs-container .navbar-header:after,
.nav-tabs-container .navbar-collapse:before,
.nav-tabs-container .navbar-collapse:after,
.nav-tabs-container .pager:before,
.nav-tabs-container .pager:after,
.nav-tabs-container .panel-body:before,
.nav-tabs-container .panel-body:after,
.nav-tabs-container .modal-header:before,
.nav-tabs-container .modal-header:after,
.nav-tabs-container .modal-footer:before,
.nav-tabs-container .modal-footer:after,
.global-popup-new .clearfix:before,
.global-popup-new .clearfix:after,
.global-popup-new .dl-horizontal dd:before,
.global-popup-new .dl-horizontal dd:after,
.global-popup-new .container:before,
.global-popup-new .container:after,
.global-popup-new .container-fluid:before,
.global-popup-new .container-fluid:after,
.global-popup-new .row:before,
.global-popup-new .row:after,
.global-popup-new .form-horizontal .form-group:before,
.global-popup-new .form-horizontal .form-group:after,
.global-popup-new .btn-toolbar:before,
.global-popup-new .btn-toolbar:after,
.global-popup-new .btn-group-vertical > .btn-group:before,
.global-popup-new .btn-group-vertical > .btn-group:after,
.global-popup-new .nav:before,
.global-popup-new .nav:after,
.global-popup-new .navbar:before,
.global-popup-new .navbar:after,
.global-popup-new .navbar-header:before,
.global-popup-new .navbar-header:after,
.global-popup-new .navbar-collapse:before,
.global-popup-new .navbar-collapse:after,
.global-popup-new .pager:before,
.global-popup-new .pager:after,
.global-popup-new .panel-body:before,
.global-popup-new .panel-body:after,
.global-popup-new .modal-header:before,
.global-popup-new .modal-header:after,
.global-popup-new .modal-footer:before,
.global-popup-new .modal-footer:after {
	display: table;
	content: " ";
}

.nav-tabs-container .clearfix:after,
.nav-tabs-container .dl-horizontal dd:after,
.nav-tabs-container .container:after,
.nav-tabs-container .container-fluid:after,
.nav-tabs-container .row:after,
.nav-tabs-container .form-horizontal .form-group:after,
.nav-tabs-container .btn-toolbar:after,
.nav-tabs-container .btn-group-vertical > .btn-group:after,
.nav-tabs-container .nav:after,
.nav-tabs-container .navbar:after,
.nav-tabs-container .navbar-header:after,
.nav-tabs-container .navbar-collapse:after,
.nav-tabs-container .pager:after,
.nav-tabs-container .panel-body:after,
.nav-tabs-container .modal-header:after,
.nav-tabs-container .modal-footer:after,
.global-popup-new .clearfix:after,
.global-popup-new .dl-horizontal dd:after,
.global-popup-new .container:after,
.global-popup-new .container-fluid:after,
.global-popup-new .row:after,
.global-popup-new .form-horizontal .form-group:after,
.global-popup-new .btn-toolbar:after,
.global-popup-new .btn-group-vertical > .btn-group:after,
.global-popup-new .nav:after,
.global-popup-new .navbar:after,
.global-popup-new .navbar-header:after,
.global-popup-new .navbar-collapse:after,
.global-popup-new .pager:after,
.global-popup-new .panel-body:after,
.global-popup-new .modal-header:after,
.global-popup-new .modal-footer:after {
	clear: both;
}

.nav-tabs-container .row,
.global-popup-new .row {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 0;
	overflow: visible;
}

.nav-tabs-container .col-xs-12,
.global-popup-new .col-xs-12 {
	width: 100%;
}

.nav-tabs-container .col-xs-1,
.nav-tabs-container .col-xs-2,
.nav-tabs-container .col-xs-3,
.nav-tabs-container .col-xs-4,
.nav-tabs-container .col-xs-5,
.nav-tabs-container .col-xs-6,
.nav-tabs-container .col-xs-7,
.nav-tabs-container .col-xs-8,
.nav-tabs-container .col-xs-9,
.nav-tabs-container .col-xs-10,
.nav-tabs-container .col-xs-11,
.nav-tabs-container .col-xs-12,
.global-popup-new .col-xs-1,
.global-popup-new .col-xs-2,
.global-popup-new .col-xs-3,
.global-popup-new .col-xs-4,
.global-popup-new .col-xs-5,
.global-popup-new .col-xs-6,
.global-popup-new .col-xs-7,
.global-popup-new .col-xs-8,
.global-popup-new .col-xs-9,
.global-popup-new .col-xs-10,
.global-popup-new .col-xs-11,
.global-popup-new .col-xs-12 {
	float: left;
}

.nav-tabs-container .col-xs-1,
.nav-tabs-container .col-sm-1,
.nav-tabs-container .col-md-1,
.nav-tabs-container .col-lg-1,
.nav-tabs-container .col-xs-2,
.nav-tabs-container .col-sm-2,
.nav-tabs-container .col-md-2,
.nav-tabs-container .col-lg-2,
.nav-tabs-container .col-xs-3,
.nav-tabs-container .col-sm-3,
.nav-tabs-container .col-md-3,
.nav-tabs-container .col-lg-3,
.nav-tabs-container .col-xs-4,
.nav-tabs-container .col-sm-4,
.nav-tabs-container .col-md-4,
.nav-tabs-container .col-lg-4,
.nav-tabs-container .col-xs-5,
.nav-tabs-container .col-sm-5,
.nav-tabs-container .col-md-5,
.nav-tabs-container .col-lg-5,
.nav-tabs-container .col-xs-6,
.nav-tabs-container .col-sm-6,
.nav-tabs-container .col-md-6,
.nav-tabs-container .col-lg-6,
.nav-tabs-container .col-xs-7,
.nav-tabs-container .col-sm-7,
.nav-tabs-container .col-md-7,
.nav-tabs-container .col-lg-7,
.nav-tabs-container .col-xs-8,
.nav-tabs-container .col-sm-8,
.nav-tabs-container .col-md-8,
.nav-tabs-container .col-lg-8,
.nav-tabs-container .col-xs-9,
.nav-tabs-container .col-sm-9,
.nav-tabs-container .col-md-9,
.nav-tabs-container .col-lg-9,
.nav-tabs-container .col-xs-10,
.nav-tabs-container .col-sm-10,
.nav-tabs-container .col-md-10,
.nav-tabs-container .col-lg-10,
.nav-tabs-container .col-xs-11,
.nav-tabs-container .col-sm-11,
.nav-tabs-container .col-md-11,
.nav-tabs-container .col-lg-11,
.nav-tabs-container .col-xs-12,
.nav-tabs-container .col-sm-12,
.nav-tabs-container .col-md-12,
.nav-tabs-container .col-lg-12,
.global-popup-new .col-xs-1,
.global-popup-new .col-sm-1,
.global-popup-new .col-md-1,
.global-popup-new .col-lg-1,
.global-popup-new .col-xs-2,
.global-popup-new .col-sm-2,
.global-popup-new .col-md-2,
.global-popup-new .col-lg-2,
.global-popup-new .col-xs-3,
.global-popup-new .col-sm-3,
.global-popup-new .col-md-3,
.global-popup-new .col-lg-3,
.global-popup-new .col-xs-4,
.global-popup-new .col-sm-4,
.global-popup-new .col-md-4,
.global-popup-new .col-lg-4,
.global-popup-new .col-xs-5,
.global-popup-new .col-sm-5,
.global-popup-new .col-md-5,
.global-popup-new .col-lg-5,
.global-popup-new .col-xs-6,
.global-popup-new .col-sm-6,
.global-popup-new .col-md-6,
.global-popup-new .col-lg-6,
.global-popup-new .col-xs-7,
.global-popup-new .col-sm-7,
.global-popup-new .col-md-7,
.global-popup-new .col-lg-7,
.global-popup-new .col-xs-8,
.global-popup-new .col-sm-8,
.global-popup-new .col-md-8,
.global-popup-new .col-lg-8,
.global-popup-new .col-xs-9,
.global-popup-new .col-sm-9,
.global-popup-new .col-md-9,
.global-popup-new .col-lg-9,
.global-popup-new .col-xs-10,
.global-popup-new .col-sm-10,
.global-popup-new .col-md-10,
.global-popup-new .col-lg-10,
.global-popup-new .col-xs-11,
.global-popup-new .col-sm-11,
.global-popup-new .col-md-11,
.global-popup-new .col-lg-11,
.global-popup-new .col-xs-12,
.global-popup-new .col-sm-12,
.global-popup-new .col-md-12,
.global-popup-new .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


.tab-content > .tab-pane {
	display: none;
}

.nav-tabs-container .tab-content > .active {
	display: block;
}

.nav-tabs-container .content-wrapper {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 25px;
}

.nav-tabs-container .flex {
	display: flex;
}

.nav-tabs-container .no-gutter {
	margin: 0;
	padding: 0;
}

.nav-tabs-container .product-description-tabs .left-border {
	border-left: 1px solid #ccc;
	padding-left: 30px;
}

.nav-tabs-container .no-gutter-right {
	margin-right: 0;
	padding-right: 0;
}

.nav-tabs-container .product-description-tabs .no-gutter-left {
	padding-right: 30px;
}

.nav-tabs-container .no-gutter-left {
	margin-left: 0;
	padding-left: 0;
}

.nav-tabs-container .defaul_list_parent li {
	list-style-type: disc;
	padding: 0 15px 0 0;
	margin-bottom: 10px;
}

.nav-tabs-container .product-desc-image {
	text-align: center;
}

.nav-tabs-container .product-desc-image img {
	max-width: 300px;
}

.nav-tabs-container .product-description-legend-item,
.nav-tabs-container .product-description-features li {
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.nav-tabs-container .red-text {
	color: #d2092d !important;
}

.nav-tabs-container .fa-question-circle:before {
	content: "\f059";
}

.nav-tabs-container .product-description-icons {
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
}

.nav-tabs-container .product-description-icons figure {
	margin-right: 10px;
	opacity: .2;
}

.nav-tabs-container .product-description-features figure {
	filter: grayscale(100%);
}

.nav-tabs-container .product-description-legend-item figure, .product-description-features figure {
	width: 54px;
	height: 54px;
	background-color: #fff;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff inset !important;
	float: left;
	border-radius: 3px;
}

.nav-tabs-container figure {
	margin: 0;
}

.nav-tabs-container .product-description-legend-item img,
.nav-tabs-container .product-description-features img {
	width: 50px;
	height: 50px;
}

.nav-tabs-container .product-description-icons figure.selected {
	opacity: 1;
	filter: none;
}

.nav-tabs-container .product-description-text {
	color: #666;
}

.nav-tabs-container .product-materials-table {
	display: table;
	width: 100%;
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 20px;
}

.nav-tabs-container .product-materials-table a {
	text-decoration: none;
}

.nav-tabs-container .product-materials-table a:hover {
	text-decoration: underline;
}

.nav-tabs-container .pmt-row {
	display: table-row;
	background-color: #fff;
	text-align: center;
}

.nav-tabs-container .pmt-row.alt {
	background-color: rgba(255,255,255,0.75);
}

.nav-tabs-container .pmt-row.legend {
	color: #666666;
	background-color: #f2f2f2;
}

.nav-tabs-container .pmt-row > .pmt-cell:first-child {
	padding-left: 10px;
}

.nav-tabs-container .pmt-row > .pmt-cell {
	border-bottom: 1px solid #e6e6e6 !important;
}

.nav-tabs-container .pmt-cell {
	padding: 8px 5px;
	display: table-cell;
	word-break: normal;
}

.nav-tabs-container .pmt-cell.label-cell {
	text-align: left;
	overflow: hidden;
	word-break: normal;
}

.nav-tabs-container .product-description-legend {
	background: #fff;
	padding: 30px 0;
}

.nav-tabs-container hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.nav-tabs-container .product-description-legend-list {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.nav-tabs-container .product-description-legend-item,
.nav-tabs-container .product-description-features li {
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.nav-tabs-container .product-description-legend-item strong {
	padding-left: 0;
	line-height: 17px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 54px;
	float: right;
	width: calc(100% - 65px);
}

.nav-tabs-container h3 {/*1*/
	font-size: 28px;
}

.nav-tabs-container .tab-pane p{/*1*/
	font-size: 16px;
	line-height: 1.375;
}

.global-overlay-new {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1200;
	background-color: #000;
	opacity: 0.5;

}

.global-popup-new {
	display: none;
	overflow: hidden;
	position: fixed;
	top: -100%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1300;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	overflow-y: auto;
	opacity: 0;
	font-size: 16px;
	line-height: 1.375;
	color: #202020;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
	-ms-transition: all 0.35s ease-in;
	-o-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}

.global-popup-new * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.global-popup-new h2 {
	margin-top: 22px;
}

.global-popup-new.open {
	top: 0;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
	-ms-transition: all 0.35s ease-in;
	-o-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
	opacity: 1;
}

.global-popup-dialog-new {
	min-width: 200px;
	max-width: 700px;
	min-height: 100px;
	margin: 40px auto;
	position: relative;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	background-clip: padding-box;
	outline: 0;
}

.global-popup-dialog-new .popup-header-new {
	display: none;
	margin: 0;
	padding: 15px 30px 0 20px;
}

.global-popup-dialog-new .close-popup-new.fa {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 18px;
	color: #000;
	z-index: 10000;
	padding: 15px;
}

.global-popup-dialog-new .popup-content-new {
	margin: 20px 20px;
	overflow: hidden;
}

.global-popup-new .cms-content {
	margin: 0 0 10px;
}

.global-popup-new .cms-content .full,
.global-popup-new .cms-content .half,
.global-popup-new .cms-content .third {
	padding: 0 10px;
	position: relative;
}

.global-popup-dialog-new .popup-footer-new {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	background-color: #f2f2f2;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.global-popup-dialog-new .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.global-popup-dialog-new .btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 15px !important;
	font-size: 15px;
	border-radius: 3px;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "HelveticaNeueLT-Roman","HelveticaNeue","Helvetica Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	line-height: 1.375;
	transition: none;
}

.global-popup-dialog-new .btn-default {
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.25);
	box-shadow: inset 0 0 -2px 0 rgba(0,0,0,0.25);
}

.global-popup-dialog-new .btn-default:hover {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #ebebeb;
	color: #333;
	border-color: #adadad;
}

.global-popup-dialog-new .btn:active {
	outline: none !important;
}

.global-popup-dialog-new .btn-default:active,
.global-popup-dialog-new .btn-default.active,
.global-popup-dialog-new .open > .dropdown-toggle.btn-default {
	background-image: none;
}

.global-popup-dialog-new .btn-default:active,
.global-popup-dialog-new .btn-default.active,
.global-popup-dialog-new .open > .dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.global-popup-dialog-new .btn:active,
.global-popup-dialog-new .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.global-popup-dialog-new .btn-default:active:hover,
.global-popup-dialog-new .btn-default.active:hover,
.global-popup-dialog-new .open > .dropdown-toggle.btn-default:hover,
.global-popup-dialog-new .btn-default:active:focus,
.global-popup-dialog-new .btn-default.active:focus,
.global-popup-dialog-new .open > .dropdown-toggle.btn-default:focus,
.global-popup-dialog-new .btn-default:active.focus,
.global-popup-dialog-new .btn-default.active.focus,
.global-popup-dialog-new .open > .dropdown-toggle.btn-default.focus {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c;
	outline: 0;
}


@media (min-width: 1000px) {
	.nav-tabs-container .product-materials-table {
		font-size: 15px;
	}
}

@media (max-width: 999px) {/*1*/
	.product-right-new .checkbox-tile {
		min-width: 20%;
	}
}

@media (min-width: 768px) {

	.nav-tabs-container .col-md-pull-6 {
		right: 50%;
	}

	.nav-tabs-container .col-md-push-6 {
		left: 50%;
	}

	.nav-tabs-container .col-md-6 {
		width: 50%;
	}
}



@media (max-width: 767px) { /*1*/

	.product-right-new .pdp-delivery .pull-left,
	.product-right-new .pdp-delivery .pull-right {
		float: none !important;
	}

	.product-right-new .pdp-delivery .custom-text-component {
		width: calc(100% - 20px);
		margin: 0;
		padding: 0;
	}

	.product-right-new ._item_buttons_counter_block {
		display: block;
	}

	.product-right-new .add-bag {
		display: block;
		text-align: center;
		background: #de5b73 url(../img/bag.jpg) no-repeat 22px center;
		background-position: calc(50% - 78px) center ;
	}

	.page-wrapper-new .nav-tabs-container .nav-tabs-custom {
		display: table;
	}

	.page-wrapper-new .nav-tabs-container .nav-tabs-custom > li {
		display: table-cell;
		vertical-align: middle;
		width: 33.333333%;
		margin: 0;
		max-height: 60px;
	}

	.page-wrapper-new .nav-tabs-container .product-description-tabs {
		padding: 10px 0 0;
	}

	.page-wrapper-new .nav-tabs-container .product-description-legend .content-wrapper,
	.page-wrapper-new .nav-tabs-container .product-description-tabs .content-wrapper {
		padding: 0;
	}

	.page-wrapper-new .nav-tabs-container .flex {
		display: block;
	}

	.page-wrapper-new .nav-tabs-container .product-description-tabs .left-border {
		border: none;
		padding-left: 15px;
		margin-left: 0;
	}

	.page-wrapper-new .nav-tabs-container  .product-description-tabs .no-gutter-right,
	.page-wrapper-new .nav-tabs-container  .product-description-tabs .no-gutter-left {
		margin: 10px 0;
		padding: 0;
	}

	.page-wrapper-new .nav-tabs-container .product-description-features {
		margin-bottom: 0;
	}

	.page-wrapper-new .nav-tabs-container .product-description-text {
		margin: 0;
	}

	.page-wrapper-new .nav-tabs-container .product-description-tabs .defaul_list_parent ul {
		padding-left: 15px;
	}

	.page-wrapper-new .nav-tabs-container .product-materials-table .pmt-cell {
		word-break: break-all;
	}

	.page-wrapper-new .nav-tabs-container .product-description-legend-list {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}


@media screen and (max-width: 400px) {/*1*/
	.product-left-new,
	.product-right-new {
		padding: 0 15px;
	}

	.page-wrapper-new .fr-tag-wrapper {
		left: 15px;
	}
}
