@font-face {
    font-family: 'ALSRublRegular';
    src: url('alsrubl.eot');
    src: url('alsrubl.eot') format('embedded-opentype'),
         url('alsrubl.woff') format('woff'),
         url('alsrubl.ttf') format('truetype'),
         url('alsrubl.svg#ALSRublRegular') format('svg');
}
