.sub-in-left{
    float: left;
    width: 45%;
}

.sub-in-right{
    margin-left: 50%;
}

.input-popup {
    background: #e5e5e5 !important;
    margin: 0 !important;
    padding: 5px 5px !important;
    font-size: 24px !important;
    font-weight: 300 !important;
    color: #555 !important;
    border: 1px solid #d7d7d7 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    display: inline-block !important;
    width: 60% !important;
    font: message-box;

}

.popup-text {
    /*min-width: 500px;*/
    min-height: 160px;
    background: url('/upload/popup-back.png') no-repeat;
	background-size: 100%;

}

.popup-form{
   /* min-width: 500px;*/
    min-height: 88px;
}

.loading-popup{

    font-size: 4.2rem;
    text-align: center;
    font-family: "novitoregular",sans-serif;
    line-height: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #202020;

    text-align: -webkit-center;
}

#error-banner {
    font-size: 19px;
    background: rgba(253, 164, 164, 0.55);
    line-height: inherit;
    text-align: center;
}

#okmessege-banner{
    padding: 20px;
    font-size: 4.2rem;
    text-align: center;
    font-family: "novitoregular",sans-serif;
    line-height: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #202020;

    text-align: -webkit-center;
}


#banner-registration{
    padding: 20px 8px;
}

.submit-popup {
    font-size: 16px !important;
    height: 40px;
    width: 155px;
    font: icon !important;
}