.connected-carousels .stage{width:360px;margin:20px auto 20px 60px;position:relative;}
.connected-carousels .photo-credits{position:absolute;right:15px;bottom:0;font-size:13px;color:#fff;text-shadow:0 0 1px rgba(0, 0, 0, 0.85);opacity:.66;}
.connected-carousels .photo-credits a{color:#fff;}
.connected-carousels .navigation{width:290px;margin:35px auto 35px 97px;position:relative;}
.connected-carousels .carousel{overflow:hidden;position:relative;}
.connected-carousels .carousel ul{width:20000em;position:relative;list-style:none;margin:0;padding:0;height:100%;}
.connected-carousels .carousel li{float:left;width:360px;height:100%;background-color:#fff;text-align:center;}
.connected-carousels .carousel li span{display:table-cell;vertical-align:middle;text-align:center;float:none;clear:both;width:360px;height:400px;}
.connected-carousels .carousel-stage{height:400px;width:360px;margin:0 auto;}
.connected-carousels .carousel-navigation{height:115px;width:273px;background:#fff;}
.connected-carousels .carousel-navigation li{cursor:pointer;width:80px;height:101px;margin:0 4px;border:2px solid transparent;transition:all 200ms ease;text-align:center;overflow:hidden;}
.connected-carousels .carousel-navigation li span{display:table-cell;vertical-align:middle;height:101px;width:80px;text-align:center;clear:both;float:none;}
.connected-carousels .carousel-navigation li img{}
.connected-carousels .carousel-navigation li:hover{border-color:#e8e8e8;}
.connected-carousels .carousel-navigation li.active{border-color:#f40429;}
.connected-carousels .prev-stage,
.connected-carousels .next-stage{display:block;position:absolute;top:0;width:305px;height:410px;color:#fff;}
.connected-carousels .prev-stage{left:0;}
.connected-carousels .next-stage{right:0;}
.prev-navigation.inactive,
.next-navigation.inactive,
.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive{display:none!important;}
.connected-carousels .prev-stage span,
.connected-carousels .next-stage span{display:none;position:absolute;top:50%;width:30px;height:30px;text-align:center;background:#4E443C;color:#fff;text-decoration:none;text-shadow:0 0 1px #000;font:24px/27px Arial, sans-serif;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;-webkit-box-shadow:0 0 2px #999;-moz-box-shadow:0 0 2px #999;box-shadow:0 0 2px #999;}
.connected-carousels .prev-stage span{left:20px;}
.connected-carousels .next-stage span{right:20px;}
.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span{display:block;}
.connected-carousels .prev-navigation,
.connected-carousels .next-navigation{display:block;position:absolute;width:9px;height:15px;text-decoration:none;font-size:0;cursor:pointer;transition:none;}
.connected-carousels .prev-navigation{left:-15px;top:45px;text-indent:6px;background:url(img/carousel_left.png) no-repeat 0 0;}
.connected-carousels .next-navigation{right:-11px;top:45px;text-indent:20px;background:url(img/carousel_right.png) no-repeat 0 0;}
.connected-carousels .prev-navigation:hover,
.connected-carousels .next-navigation:hover{background-position:0 -15px;}