.kladr-error{color:#cb3e27}#kladr_autocomplete ul{position:absolute;display:block;margin:0;padding:0;border:1px solid #c4c4c4;background-color:#fff;z-index:9999;overflow-x:hidden;overflow-y:auto;min-width:200px;max-height:420px;color:#313131}#kladr_autocomplete li{display:list-item;list-style-type:none;margin:0;padding:8px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}#kladr_autocomplete li+li{border-top:1px solid #ededed}#kladr_autocomplete li:hover{background-color:#f2f2f2;cursor:pointer}#kladr_autocomplete li.active{background-color:#e9e9e9}#kladr_autocomplete a{text-decoration:none}#kladr_autocomplete strong{color:#038ebd}#kladr_autocomplete .spinner{position:absolute;display:block;margin:0;padding:0;width:16px;height:16px;z-index:9999}
.address {
    width: 485px;
    margin: 40px auto 0;
    padding: 40px 40px 30px;
    border: 2px solid #e1e1e1;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.075) 1px 1px 5px;
}

.address h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.field {
    margin-bottom: 10px;
    padding: 0;
}

.field .group-name {
    margin-top: 25px;
    margin-bottom: 5px;
}

.field input {
    height: 2em;
    width: 470px;
    border: 1px solid #d8d8d8;
    padding: 0 7px;
    color: #666;
}

.field [type="radio"] {
    height: 1.5em;
    width: 20px;
    vertical-align: middle;
}

.addition {
    padding-top: 15px;
}

.addition .block {
    display: block;
    min-height: 170px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fcfcfc;
    border: 1px solid #d8d8d8;
    font-size: 13px;
    width: 445px;
}

.addition .title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.addition ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.addition li {
    margin-bottom: 5px;
}

.addition .name {
    font-style: italic;
}