.left_fl{
	float:left;
}
.link_a_displayblock{
	color: #d2092d;
	cursor: pointer;
	font-size: 14px;
	font-family: "HelveticaNeue","Helvetica Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	display:block;
	position: relative;
	padding:15px 0;
}
.arrow_red_right{
	color: #d2092d;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	position: absolute;
    left: 98.5%;
}
.arrow_red_right:before {
    content: "\f105";
}

.border_grey{
	border-top: 1px solid #ccc;
}

.both_clear{
	clear:both;
}
.width_240{
	width:240px;
}
.margin_right_20{
	margin-right:20px;
}
.margin_right_180{
	margin-right:180px;
}
.display_none{
	display:none;
}
.content_html{
	display:block;
}
@media (max-width:1023px){
	.display_2_column{
		display:none;
	}
	.display_none{
		display:block;
	}
	.content_html{
		display:none;
	}
}