@font-face{font-family:'helveticaneuecyrthin';src:url('../../fonts/helveticaneuecyr-thin-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'helveticaneuecyrmedium';src:url('../../fonts/helveticaneuecyr-medium-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'helveticaneuecyrroman';src:url('../../fonts/helveticaneuecyr-roman-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'helveticaneuecyrbold';src:url('../../fonts/helveticaneuecyr-bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'novitoregular';src:url('../../fonts/novito-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
html{font-size:62.5%;}
body{line-height:1;font-family:Arial;font-size:1.4rem;background:#f2f2f2;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;color:#d0102a;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
h1{font-size:2.8rem;/*2.6rem;*/}
h2{font-size:2.4rem;}
h3{font-size:2.2rem;}
h4{font-size:2rem;}
h5{font-size:1.8rem;}
hr{display:block;height:1px;border:0;border-top:1px solid #333;margin:1em 0;padding:0;}
img{max-width:100%;height:auto;}
input, select{vertical-align:middle;}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{color:#c4c4c4;}
input:focus::-o-input-placeholder,
textarea:focus::-o-input-placeholder{color:#c4c4c4;}
input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder{color:#c4c4c4;}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{color:#c4c4c4;}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{color:#c4c4c4;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{opacity:1;color:#999999;}
input::-o-input-placeholder,
textarea::-o-input-placeholder{opacity:1;color:#999999;}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder{opacity:1;color:#999999;}
input::-moz-placeholder,
textarea::-moz-placeholder{opacity:1;color:#999999;}
input::-moz-placeholder,
textarea::-moz-placeholder{opacity:1;color:#999999;}
body{font-family:'helveticaneuecyrroman',sans-serif;}
.text-center{text-align:center;}
.footer_menu:after,
.auto_center:after,
.filter-wrap:after{clear:both;display:block;content:"";}
.sort:after{clear:right;display:block;content:"";}
.auto_center,
.inner{margin:0 auto;max-width:1250px;}
.width_960{background-color:#bd0828;}
header{background-color:#d2092d;margin:auto;}
.coocki_header{background-color:#d8d8d8;height:40px;}
.coocki_text{float:left;margin:0;padding:0;}
.coocki_img{cursor:pointer;float:right;margin-right:20px;margin-top:15px;}
.coocki_text{color:#202020;font-size:14px;margin-left:26px;margin-top:9px;}
.clear{clear:both;}
.header_info{background-color:#d2092d;height:80px;}
.header_logo{float:left;margin-left:48px;margin-top:11px;}
.header_menu{float:left;margin-top:15px;padding:0;}
.header_menu > ul{list-style-type:none;margin-left:20px;margin-right:15px;padding:0;}
.my_class{float:left;margin-top:18px;padding:5px;border-radius:2px;margin-right:15px;}
.my_class:hover{background-color:#BD0828;}
.header_menu > ul a{color:#ffffff;text-decoration:none;}
.header_menu > ul li{color:#ffffff;display:inline-block;font-size:14px;margin-left:20px;margin-top:15px;}
.float_left{float:left;margin-right:30px;}
.include_file_pone{float:left;margin-right:15px;margin-top:20px;}
.phone_callme{color:#ffffff;font-size:16px;}
.text_phone{color:#e4b5be;display:block;margin-top:7px;font-size:14px;}
.avtorized_user{border-radius:5px;box-sizing:content-box;cursor:pointer;height:30px;margin-right:12px;font-size:16px;margin-top:17px;padding-left:15px;padding-right:15px;padding-top:10px;display:block;}
.avtorized_user span{color:#ffffff;margin-left:10px;}
.avtorized_user:hover{background-color:#bd0828;}
.inline{display:inline-block;vertical-align:top;}
.line_basket{border-radius:5px;box-sizing:content-box;cursor:pointer;height:30px;margin-right:12px;font-size:16px;margin-top:17px;padding-left:15px;display:block;padding-right:15px;padding-top:10px;}
.line_basket:hover{background-color:#bd0828;}
.line_basket span{color:#ffffff;margin-left:10px;}
.nav_header{background-color:#d2092d;clear:both;display:table;position:relative;width:100%;z-index:151;margin:auto;width:1182px;}
.nav_header > ul{display:table-row;position:relative;}
.nav_header > ul > li{background-color:#bd0828;display:table-cell;font-size:12px;}
.nav_header > ul > li > a:after{background-color:#d76b7e;content:"";display:block;height:35px;position:absolute;right:0;top:50%;margin-top:-17px;width:1px;}
.nav_header > ul > li > a{color:#fff;display:block;padding:23px 15px 21px;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;}
.nav_header > ul > li:hover{background-color:#4f9c49;}
.sub-menu{border:2px solid #4f9c49;width:100%;padding:2rem;position:absolute;top:100%;left:0;opacity:0;z-index:-1;visibility:hidden;box-sizing:border-box;background:#e3edf0;-webkit-transition:opacity 0.3s;transition:opacity 0.3s;}
.nav_header > ul > li:hover .sub-menu{z-index:99;opacity:1;visibility:visible;}
.sub-left{float:left;width:33%;}
.sub-right{margin-left:35%;/*padding-top:3rem;*/}
.sub-right2{position:absolute;top:18px;right:17px;width:33%;}
.sub-list h3{font-family:'helveticaneuecyrbold',sans-serif;font-size:1.6rem;font-weight:normal;margin-bottom:1rem;}
.sub-list ul{font-family:'helveticaneuecyrroman',sans-serif;font-size:1.6rem;list-style-type:none;font-weight:normal;margin-bottom:2rem;}
.sub-list li{margin-bottom:1rem;}
.sub-list ul a{color:#000;text-decoration:none;}
.sub-list ul a:hover{text-decoration:underline;}
.nav_header > ul > li:hover > a:after{display:none;}
footer{background-color:#202020;border-top:5px solid #d2092d;padding-bottom:1px;padding-top:15px;}
.footer_menu{padding-top:10px;width:100%;overflow:hidden;}
.footer_link_menu{float:left;list-style-type:none;width:25%;padding:0 20px;position:relative;box-sizing:border-box;}
.footer_link_menu:last-child:after{display:none;}
.footer_link_menu:after{position:absolute;top:0;right:0;content:"";width:1px;height:500px;background:#333333;}
.footer_link_menu li a{color:#ffffff;margin-top:20px;text-decoration:none;}
.footer_link_menu li a:hover{text-decoration:underline;}
.footer_link_menu li{color:#ffffff;font-size:16px;margin-top:20px;}
.border_bottom_footer{margin:20px auto 45px;width:97%;}
.social_icon{float:right;margin-bottom:35px;margin-right:20px;}
.social_icon a{-webkit-transition:opacity 0.3s;transition:opacity 0.3s;}
.social_icon a:hover{opacity:0.7;}
.logotip_footer{background-color:#d2092d;height:115px;padding-top:25px;}
.center_logo_footer{margin:auto;width:210px;}
.copirait_footer{margin:10px;padding:0;}
.positem:hover .popap_menu_header{display:block !important;}
.center_copirait_footer{color:#ffffff;font-size:10pt;text-align:center;}
.center_copirait_footer a{color:#ffffff;}
.center_copirait_footer a:hover{text-decoration:none;}
.positem{color:#ffffff;position:relative;text-decoration:none;}
ul.popap_menu_header{background-color:#ffffff;border:1px solid #bd0828;display:none;left:-1px;margin:0;max-width:100%;min-width:200px;padding:5px;position:absolute;top:-10px;z-index:152;}
.header_menu .popap_menu_header li{display:block;}
.header_menu .popap_menu_header a{text-decoration:none;color:#000000;}
.header_menu .popap_menu_header li a:hover{color:#d2092d;}
.img_left{float:right;margin-right:10px;}
.arrow_rew{color:#d2092d;}
.breadcrubs{border-bottom:1px solid #cccccc;}
.breadcrubs-wrap{padding:15px 10px;}
.breadcrubs a,
.breadcrubs span{color:#666666;font-size:14px;display:inline-block;text-decoration:none;padding:0 10px;}
.breadcrubs a:hover{text-decoration:underline;}
.breadcrubs em{background:url(../../images/breadcrumb.png) no-repeat 0 center;width:5px;min-height:7px;display:inline-block;}
.begin a,
.sale-image,
.video-image{height:530px;text-decoration:none;display:block;position:relative;background-size:cover;background-repeat:no-repeat;background-position:center top;}
.begin a:hover span{opacity:0.7;}
.begin a span{font-family:'novitoregular', sans-serif;font-size:8.8rem;color:#202020;padding:5.5rem;display:block;-webkit-transition:opacity 0.3s;transition:opacity 0.3s;}
.welcome{margin:0 auto;max-width:1020px;text-align:center;padding:4rem 0;}
.bottom-text{text-align:center;}
.welcome h2,
.bottom-text h2{font-family:'novitoregular', sans-serif;font-size:8.8rem;color:#202020;margin-bottom:2rem;font-weight:normal;}
.welcome p,
.bottom-text p{font-size:1.6rem;color:#202020;line-height:2rem;margin-bottom:1rem;}
.bottom-text h3{font-family:'novitoregular', sans-serif;font-size:6rem;color:#202020;margin-bottom:2rem;font-weight:normal;margin-top:3rem;}
.sale{margin-bottom:2rem;}
.bottom-text{padding-bottom:3rem;}
.sale-box{width:60%;padding:7% 5%;box-sizing:border-box;display:block;text-align:center;}
.sale-box .title{font-family:'novitoregular', sans-serif;font-size:8.8rem;color:#fff;display:block;margin-bottom:1rem;}
.sale-box .text{color:#202020;font-size:1.6rem;line-height:2rem;display:block;margin-bottom:2.5rem;}
.btn,
.row-submit input{background:#d01132;padding:8px 5rem;color:#fff;font-size:16px;text-align:center;line-height:16px;border-radius:3px;border-bottom:3px solid #9d0d26;display:inline-block;text-decoration:none;-webkit-transition:background-color 0.5s, border-color 0.5s;transition:background-color 0.5s, border-color 0.5s;}
.row-submit input{padding:1.5rem;box-sizing:border-box;border:none;border-bottom:3px solid #9d0d26;cursor:pointer;margin-right:10px;}
.btn:hover,
.row-submit input:hover{background:#9d0d26;border-color:#d01132;}
.sammer-title{font-family:'novitoregular', sans-serif;font-size:6.2rem;padding:4.4rem;text-align:right;color:#fff;display:block;}
.sammer-image{height:530px;display:block;position:relative;background-size:cover;background-repeat:no-repeat;background-position:center top;}
.sammer-image .btn,
.section-left .btn,
.section-right .btn{position:absolute;bottom:3rem;left:50%;-webkit-transform:translate(-50%, 0);transform:translate(-50%, 0);}
.sammer{margin-bottom:2rem;}
.section{overflow:hidden;}
.section-left{width:49%;float:left;margin-right:2%;}
.section-left,
.section-right{height:640px;display:block;position:relative;background-size:cover;background-repeat:no-repeat;background-position:center top;margin-bottom:2%;width:49%;float:left;}
.section .title{font-family:'novitoregular', sans-serif;font-size:6rem;padding:4.4rem 2rem 2rem 2rem;text-align:right;color:#202020;display:block;text-align:center;}
.club{position:absolute;top:0;left:2rem;z-index:1;width:141px;height:141px;background:url(../images/club.jpg) no-repeat 0 0;}
.play{height:205px;width:203px;border-radius:205px;position:absolute;top:50%;left:50%;margin-left:-102px;margin-top:-102px;background:url(../../images/play.png) no-repeat 0 0;-webkit-transition:opacity 0.5s;transition:opacity 0.5s;}
.play:hover{opacity:0.7;}
.video{margin-bottom:4rem;}
.video-text{width:200px;position:absolute;top:7rem;right:10rem;}
.video-text span{font-family:'novitoregular', sans-serif;font-size:10rem;line-height:8rem;color:#202020;display:block;margin-bottom:2rem;}
.video-text a{color:#202020;padding-right:15px;text-decoration:none;background:url(../../images/see-video.png) no-repeat right center;}
.video-text a:hover{text-decoration:underline;}
.catalog{overflow:hidden;}
.sidebar-left{width:275px;float:left;}
.catalog-content{margin-left:295px;}
.filter-title{color:#fff;font-size:1.6rem;background:#d01132;margin:0 -14px 18px;padding:15px 14px;}
.title-cost.title-filter{margin-bottom:3rem;}
.filter{border-radius:3px;overflow:hidden;padding:0 14px 15px;background:#fff;border:1px solid #d01132;}
.title-filter{color:#202020;font-family:"helveticaneuecyrbold",sans-serif;font-size:16px;margin-bottom:1.5rem;}
.filter-wrap{border-bottom:1px solid #cccccc;margin-bottom:1.5rem;padding-bottom:1.5rem;position:relative;}
.filter-wrap ul{list-style-type:none;}
.filter-wrap li{margin-bottom:1rem;}
.filter-wrap li input[type="checkbox"]{display:none;}
.filter-wrap li input + label:after{background:url(../../images/check.png) no-repeat 0 0;border-radius:3px;box-sizing:border-box;content:"";height:17px;left:0;position:absolute;top:0;width:17px;}
.filter-wrap li input:checked + label:after{background-position:0 bottom;}
.filter-wrap li label{color:#202020;cursor:pointer;display:block;font-family:"helveticaneuecyrroman",sans-serif;font-size:16px;font-weight:normal;line-height:20px;padding-left:30px;position:relative;}
.filter-wrap li label img{display:block;}
.next-list{display:none;}
.see-more{color:#d01132;text-decoration:none;display:inline-block;margin-bottom:1.5rem;}
.color-filter{font-size:0;}
.color-filter li{display:inline-block;margin-bottom:4px;margin-right:4px;vertical-align:top;}
.color-filter li:nth-child(6n+6){margin-right:0;}
.color-filter li span{border-radius:3px;cursor:pointer;display:block;border:1px solid transparent;height:37px;position:relative;width:37px;box-sizing:border-box;}
.color-filter li.active span{border-color:#cccccc;}
#slider-range{border:1px solid #cccccc;border-radius:4px;height:6px;margin:18px 0;position:relative;box-sizing:border-box;}
.ui-widget-header{background:#4f9c49;border-radius:4px;height:6px;margin-top:-1px;position:absolute;}
.ui-slider-handle{background:#fff;height:32px;margin-left:-6px;position:absolute;top:-15px;width:12px;border:1px solid #c0c0c0;border-bottom-width:2px;border-radius:3px;}
.range-min{float:left;}
.range-max{float:right;}
.range-min,
.range-max{font-size:1.6rem;color:#202020;}
.choose{display:block;border:1px solid #c0c0c0;border-bottom-width:2px;border-radius:3px;color:#202020;background:#fff;padding:10px;font-size:16px;text-align:center;text-decoration:none;-webkit-transition:background-color 0.3s, color 0.3s;transition:background-color 0.3s, color 0.3s;margin-bottom:15px;}
.choose:hover{background:#c0c0c0;color:#fff;}
.filter-size{list-style-type:none;font-size:0;}
.filter-size li{color:#202020;background:#ffffff;box-sizing:border-box;border:1px solid #cccccc;width:37px;height:37px;border-radius:3px;line-height:32px;text-align:center;display:inline-block;font-size:14px;margin-left:4px;margin-bottom:4px;vertical-align:top;cursor:pointer;}
.filter-size li:nth-child(6n+1){margin-left:0;}
.filter-size li.active{background:#4f9c49;border-top:2px solid #43853e;color:#fff;}
.clear{background:url(../../images/clear.jpg) no-repeat 0 center;padding-left:20px;text-decoration:none;font-size:16px;display:inline-block;}
div.fancy-select{position:relative;font-size:14px;color:#515151;vertical-align:top;}
div.fancy-select.disabled{opacity:0.5;}
div.fancy-select select:focus + div.trigger.open{box-shadow:none;}
div.fancy-select div.trigger{cursor:pointer;padding:0px 55px 0px 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:relative;background:#fff;border:1px solid #b1b1b1;border-bottom-width:3px;border-radius:3px;color:#000000;transition:all 240ms ease-out;-webkit-transition:all 240ms ease-out;-moz-transition:all 240ms ease-out;-ms-transition:all 240ms ease-out;-o-transition:all 240ms ease-out;width:100%;box-sizing:border-box;line-height:40px;}
div.fancy-select div.trigger:before{content:"";position:absolute;height:16px;width:1px;background:#cccccc;right:40px;top:50%;margin-top:-8px;}
div.fancy-select div.trigger:after{content:"";display:block;position:absolute;width:9px;height:5px;top:50%;margin-top:-2px;right:15px;background:url(../../images/select.png) no-repeat 0 0;}
div.fancy-select div.trigger.open:after{background-position:0 bottom;}
div.fancy-select ul.options{list-style:none;margin:0;box-sizing:border-box;position:absolute;top:25px;left:0;visibility:hidden;opacity:0;z-index:50;max-height:200px;overflow:auto;background:#fff;border:1px solid #ccc;min-width:10px;width:100%;transition:opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;-webkit-transition:opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;-moz-transition:opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;-ms-transition:opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;-o-transition:opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;}
div.fancy-select ul.options.open{visibility:visible;top:40px;opacity:1;transition:opacity 300ms ease-out, top 300ms ease-out;-webkit-transition:opacity 300ms ease-out, top 300ms ease-out;-moz-transition:opacity 300ms ease-out, top 300ms ease-out;-ms-transition:opacity 300ms ease-out, top 300ms ease-out;-o-transition:opacity 300ms ease-out, top 300ms ease-out;}
div.fancy-select ul.options.overflowing{top:auto;bottom:40px;transition:opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;-webkit-transition:opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;-moz-transition:opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;-ms-transition:opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;-o-transition:opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;}
div.fancy-select ul.options.overflowing.open{top:auto;bottom:40px;transition:opacity 300ms ease-out, bottom 300ms ease-out;-webkit-transition:opacity 300ms ease-out, bottom 300ms ease-out;-moz-transition:opacity 300ms ease-out, bottom 300ms ease-out;-ms-transition:opacity 300ms ease-out, bottom 300ms ease-out;-o-transition:opacity 300ms ease-out, bottom 300ms ease-out;}
div.fancy-select ul.options li{padding:7px 10px;color:#8d8d8d;line-height:14px;cursor:pointer;white-space:nowrap;transition:all 150ms ease-out;-webkit-transition:all 150ms ease-out;-moz-transition:all 150ms ease-out;-ms-transition:all 150ms ease-out;-o-transition:all 150ms ease-out;}
div.fancy-select ul.options li.selected{color:#232222;}
div.fancy-select ul.options li.hover{color:#232222;}
.catalog-slider{height:460px;position:relative;margin-bottom:2.5rem;}
.catalog-slider .slides li{background-size:cover;background-position:center 0;background-repeat:no-repeat;}
.catalog-slider .slides,
.catalog-slider .slides li{height:100%;}
.slide-text{box-sizing:border-box;}
.slide-text h3{font-size:7.2rem;font-family:"novitoregular",sans-serif;line-height:6rem;font-weight:400;text-transform:uppercase;color:#202020;margin-bottom:1.5rem;}
.slide-text p{color:#000000;font-size:1.6rem;margin-bottom:2.5rem;}
.catalog-slider .flex-direction-nav{list-style-type:none;}
.catalog-slider .flex-direction-nav .flex-prev,
.catalog-slider .flex-direction-nav .flex-next{background:url(../../images/arrow-slider.png) no-repeat 0 0;width:31px;height:52px;position:absolute;top:50%;margin-top:-26px;z-index:10;overflow:hidden;text-indent:999px;transition:opacity 0.3s;}
.catalog-slider .flex-direction-nav .flex-prev{left:0;}
.catalog-slider .flex-direction-nav .flex-next{right:0;background-position:right 0;}
.catalog-slider .flex-direction-nav .flex-prev:hover,
.catalog-slider .flex-direction-nav .flex-next:hover{opacity:0.7;}
.catalog-slider .flex-control-nav{list-style-type:none;bottom:30px;left:0;position:absolute;width:100%;z-index:10;text-align:center;}
.catalog-slider .flex-control-nav li{display:inline-block;margin:0 3px;}
.catalog-slider .flex-control-nav li a{width:10px;height:10px;border:1px solid #fff;border-radius:12px;overflow:hidden;text-indent:999px;display:block;cursor:pointer;}
.catalog-slider .flex-control-nav li a.flex-active{background:#fff;}
.catalog-description{margin-bottom:3.5rem;}
.catalog-description h1{font-family:'helveticaneuecyrthin';font-size:2.8rem;/*4rem*/margin-bottom:1rem;margin-top:25px;}
.catalog-description p{font-size:1.6rem;line-height:2.2rem;margin-bottom:2rem;}
.catalog-list{font-size:0;}
.goods{display:inline-block;margin-bottom:2%;margin-right:2%;position:relative;width:32%;}
.goods:nth-child(3n+3){margin-right:0;}
.goods-inner{padding:15px;background:#fff;border-radius:5px;}
.goods-image{height:240px;text-align:center;border-bottom:1px solid #cccccc;margin-bottom:2rem;}
.goods-description{text-align:center;}
.goods-description h3{font-size:1.4rem;line-height:1.8rem;font-family:'helveticaneuecyrmedium',sans-serif;margin-bottom:0.5rem;font-weight:normal;}
.goods-description h3 a{color:#000;text-decoration:none;}
.cost{font-size:1.4rem;line-height:1.8rem;margin-bottom:2rem;}
.quick-view{border:1px solid #d01132;background-color:#fff;border-radius:3px;color:#d01132;font-size:12px;line-height:28px;padding:0 10px;display:inline-block;text-decoration:none;transition:background-color 0.5s, color 0.5s;margin-bottom:5px;}
.quick-view:hover{background-color:#d01132;color:#fff;}
.catalog-list{border-bottom:1px solid #cccccc;}
.sort{line-height:40px;padding-bottom:1.5rem;margin-bottom:2rem;border-bottom:1px solid #cccccc;}
.sort-right{float:right;}
.sort-by,
.sort-show{display:inline-block;vertical-align:top;line-height:40px;}
.sort-show{margin-left:30px;}
.sort-select,
.show-select{display:inline-block;vertical-align:top;width:230px;margin-left:10px;}
.show-select{width:100px;}
.load-button{display:inline-block;padding-top:50px;position:relative;text-decoration:none;text-align:center;}
.load-button:after{content:"";position:absolute;top:0;left:50%;margin-left:-22px;background:url(../../images/load.png) no-repeat 0 0;width:44px;height:44px;}
.load-button span{display:block;font-family:'helveticaneuecyrthin',sans-serif;font-size:24px;}
.load-box{text-align:center;padding:1.5rem 0 5rem;}
.drop{display:none;}
.product{padding:5rem 0;}
.product h1{font-family:'helveticaneuecyrthin',sans-serif;font-size:2.8rem;/*4rem*/line-height:2.8rem;/*4rem*/color:#202020;margin-bottom:10px;}
.product-left{width:48%;float:left;}
.product-right{margin-left:52%;}
.haracther{color:#666666;font-size:1.4rem;margin-bottom:1.2rem;}
.price{padding-bottom:1rem;margin-bottom:2rem;border-bottom:1px solid #cccccc;}
.price-old{color:#666666;text-decoration:line-through;font-size:2.4rem;font-family:'helveticaneuecyrmedium',sans-serif;margin-right:1.8rem;line-height:3.3rem;display:inline-block;vertical-align:top;}
.price-new{color:#fff;font-size:2.4rem;line-height:3.3rem;font-family:'helveticaneuecyrmedium',sans-serif;margin-right:1.8rem;padding:0 0.5rem;background:#4c9d45;border-radius:3px;display:inline-block;vertical-align:top;}
.images-color span{border-radius:3px;overflow:hidden;border:1px solid #cccccc;display:inline-block;vertical-align:top;cursor:pointer;}
.images-color span.active,
.images-color span:hover{border-color:#4c9d45;}
.images-color span img{display:block;}
.product-color{margin-bottom:1.5rem;}
.sizes-left{margin-bottom:1.5rem;}
.sizes-left ul{font-size:0;list-style-type:none;vertical-align:top;display:inline-block;}
.sizes-left li{border:1px solid #cccccc;border-radius:3px;box-sizing:border-box;color:#202020;cursor:pointer;display:inline-block;font-size:14px;height:42px;line-height:42px;margin-bottom:4px;margin-right:5px;text-align:center;vertical-align:top;padding:0 10px;}
.background_white{
	background:#ffffff;
}
.background_grey{
	background:#cccccc;
}
.sizes-left li.active,
.sizes-left li:hover{background:#4f9c49;border-top:2px solid #43853e;color:#fff;}
.table-size{background:#fff;line-height:42px;font-size:14px;padding:0 1.5rem;text-decoration:none;border-radius:3px;transition:background 0.5s, color 0.5s;display:inline-block;}
.quantity{width:100px;}
.sizes-count{margin-bottom:1.5rem;}
.add-bag{padding:0 20px 0 48px;border-bottom:3px solid #bb596b;line-height:48px;font-size:16px;color:#fff;text-decoration:none;transition:opacity 0.5s;display:inline-block;border-radius:3px;margin-bottom:1.5rem;background:#de5b73 url(../../images/bag.jpg) no-repeat 22px center;}
.add-bag:hover{opacity:0.7;}
.product-description{border-top:1px solid #cccccc;}
.product-description h4{color:#d4092d;font-weight:normal;font-family:'helveticaneuecyrmedium',sans-serif;font-size:1.6rem;position:relative;cursor:pointer;}
.product-description h4:after{width:7px;height:5px;content:"";background:url(../../images/arrow-h4.png) no-repeat 0 0;position:absolute;top:50%;right:0;margin-top:-2.5px;}
.product-description h4.active:after{background-position:0 bottom;}
.product-description h4.active{color:#202020;}
.desc-wrap{padding-top:1.5rem;display:none;}
.desc-inner{padding:1.5rem 0;border-bottom:1px solid #cccccc;}
.product-description p{font-size:1.6rem;line-height:2rem;margin-bottom:1rem;}
.see-desc{font-size:1.6rem;text-decoration:none;}
.desc-last{display:none;}
.stars{font-size:0;float:left;}
.stars span{background:rgba(0, 0, 0, 0) url("../../images/star.png") no-repeat scroll right 0;display:inline-block;height:18px;vertical-align:top;width:20px;margin-right:3px;cursor:pointer;}
.stars span.active,
.stars-big span.active{background-position:0 bottom;}
.product-right-inner{padding:1.2rem 0;border-bottom:1px solid #cccccc;overflow:hidden;}
.table-size:hover,
.rely:hover{background:#d4092d;color:#fff;}
.rely{background:#fff;float:right;border-radius:3px;line-height:30px;font-size:12px;padding:0 3rem;display:inline-block;transition:background 0.5s, color 0.5s;text-decoration:none;}
.comments{max-width:810px;margin:0 auto;padding-top:5rem;}
.comments h2{font-size:3.6rem;font-family:'helveticaneuecyrthin';color:#202020;margin-bottom:2rem;}
.comments .product-right-inner{border-top:1px solid #cccccc;margin-bottom:3rem;}
.stars-big span{background:url("../../images/star-big.png") no-repeat right 0;display:inline-block;height:29px;vertical-align:middle;width:30px;margin-right:4px;cursor:pointer;}
.stars-big{font-size:1.4rem;line-height:40px;color:#202020;}
.product-right-inner .btn{padding:1rem 2rem;float:right;}
.row{margin-bottom:1.5rem;overflow:hidden;}
.row label{color:#666666;font-size:1.4rem;display:block;margin-bottom:1rem;}
.row label span{color:#d2092d;}
.row input{border:1px solid #cccccc;border-top:3px solid #e5e5e5;border-radius:5px;height:4.2rem;box-sizing:border-box;width:100%;padding:0 2rem !important;font-size:1.4rem;font-family:'helveticaneuecyrroman',sans-serif;}
.row textarea{border:1px solid #cccccc;border-top:3px solid #e5e5e5;border-radius:5px;height:13rem;font-size:1.4rem;box-sizing:border-box;width:100%;padding:1rem 2rem;font-family:'helveticaneuecyrroman',sans-serif;}
.image-captcha{width:280px;float:left;}
.field-captcha{margin-left:300px;padding-top:8px;}
.row-submit{padding:2rem 0;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;margin-bottom:2.5rem;}
.clear-comment{background:#fff;padding:1.5rem 2.5rem;color:#d2092d;font-size:16px;text-align:center;line-height:16px;border-radius:3px;border-bottom:3px solid #fff;display:inline-block;text-decoration:none;-webkit-transition:background-color 0.5s, color 0.5s;transition:background-color 0.5s, color 0.5s;}
.clear-comment:hover{background:#d2092d;color:#fff;}
.comment-post h3{color:#202020;font-family:'helveticaneuecyrthin';font-size:2.4rem;margin-bottom:1rem;}
.comment-stars{overflow:hidden;margin-bottom:1.5rem;}
.comment-last{display:none;}
.comment-post{padding-bottom:1.5rem;margin-bottom:1.5rem;border-bottom:1px solid #ccc;color:#202020;}
.comment-post p,
.see-comments{font-size:1.6rem;line-height:2rem;margin-bottom:1rem;}
.see-comments{text-decoration:none;margin-bottom:1rem;display:inline-block;}
.comment-author span{color:#666666;}
.comments-list{padding-bottom:4rem;}
.see-desc:hover,
.see-comments:hover{text-decoration:underline;}
.big-image{position:relative;overflow:hidden;margin-bottom:1.5rem;}
.big-image.after:after{width:186px;height:31px;background:url(../../images/zoom.png) no-repeat 0 0;position:absolute;bottom:15px;left:50%;margin-left:-93px;content:"";z-index:10;}
.big-image .flex-control-nav{display:none;}
.big-image .flex-direction-nav{list-style-type:none;}
.big-image .flex-direction-nav .flex-prev,
.big-image .flex-direction-nav .flex-next{overflow:hidden;position:absolute;top:0;width:44px;height:100%;z-index:10;overflow:hidden;text-indent:999px;}
.big-image .flex-direction-nav .flex-prev{left:0;}
.big-image .flex-direction-nav .flex-next{right:0;}
.big-image .flex-direction-nav .flex-prev:after,
.big-image .flex-direction-nav .flex-next:after{width:10px;height:17px;position:absolute;content:"";top:50%;right:50%;margin-left:-5px;margin-top:-8px;background:url(../../images/arrow-gray.png) no-repeat 0 0;}
.big-image .flex-direction-nav .flex-next:after{background-position:right 0;}
.cusrousel-mini{margin-bottom:2rem;}
.mini-slide{display:inline-block;vertical-align:top;margin-right:8px;}
.mini-slide a{display:block;position:relative;overflow:hidden;border-radius:5px;margin-bottom:5px;}
.mini-slide a img{display:block;}
.mini-slide a.active:after{position:absolute;box-sizing:border-box;background:rgba(0, 0, 0, 0.35);top:0;left:0;content:"";right:0;bottom:0;border:5px solid #fff;}
.mobile-menu{display:none;box-sizing:border-box;position:absolute;top:0.8rem;right:3%;height:14px;width:20px;z-index:11;font-family:Arial, sans-serif;color:#fff;cursor:pointer;}
.mobile-menu:after{background:#fff;bottom:0;content:"";height:2px;left:0;position:absolute;transition:all 0.5s ease 0s;width:100%;}
.mobile-menu:before{background:#fff;content:"";height:2px;left:0;position:absolute;top:0;transition:all 0.5s ease 0s;width:100%;}
.mobile-menu span{background:#fff;content:"";height:2px;left:0;margin-top:-1px;position:absolute;top:50%;transition:all 0.5s ease 0s;width:100%;}
.mobile-menu div{content:"";height:100%;left:-45px;line-height:14px;position:absolute;top:1px;transition:all 0.5s ease 0s;width:45px;}
@media (max-width:1250px){.auto_center,
.inner{padding:0 2%;}
.nav_header{width:100%;}
.nav_header > ul > li > a{padding-left:5px;padding-right:5px;}
.float_left_second{margin-right:0;}
}
@media (max-width:1023px){.order_page.width960{min-width:1px;}
.count{white-space:nowrap;}
.my_class{display:none;}
html{font-size:55%;}
#navi{position:fixed;top:0;bottom:0;right:-280px;width:280px;z-index:99;-webkit-transition:right 0.5s;transition:right 0.5s;padding-top:40px;overflow-y:auto;height:auto;text-align:left;background:#141411;}
.active#navi{right:0;}
#navi li{display:block;font-size:14px;background:none;}
#navi ul{text-align:left;}
#navi li a{padding:10px 20px;}
.nav_header{background:none;}
.mobile-menu{display:block;z-index:999;}
.active.mobile-menu{color:#fff;position:fixed;}
.active.mobile-menu span{opacity:0;background:#fff;}
.active.mobile-menu:before{transform:rotate(-45deg);top:6px;background:#fff;}
.active.mobile-menu:after{transform:rotate(45deg);bottom:6px;background:#fff;}
.nav_header > ul > li > a:after{display:none;}
.sub-menu{position:static;opacity:1;visibility:visible;border:none;background:none;display:none;}
.sub-left{display:none;}
.sub-right2{display:none;}
.sub-right{margin-left:0;padding-top:0;}
.sub-list ul a,
.sub-list h3{color:#fff;}
.nav_header li.has-children > a{position:relative;}
.nav_header li.has-children > a:before{content:' ';height:0;position:absolute;top:50%;margin-top:-2px;right:4%;width:0;border:5px solid transparent;border-top-color:#fff;}
.nav_header li.has-children > a.active:before{border:5px solid transparent;border-bottom-color:#fff;margin-top:-7px;}
.nav_header > ul > li > a{text-align:left;}
.header_logo{margin-left:0;}
.include_file_pone{display:none;}
.avtorized_user,
.line_basket{margin-top:0;}
header{position:relative;}
.header-shop{bottom:5px;float:none;position:absolute;right:4%;text-align:right;}
.line_basket{margin-right:0;}
.sort-right{float:none;}
.sort-by,
.sort-show{display:block;margin-left:0;margin-bottom:1rem;}
}
@media (max-width:767px){.catalog-slider{display:none;}
.shopping_cart .rows_product_line .row_product .img{width:30%;}
.shopping_cart .shopping_cart_box{display:none;}
.shopping_cart .rows_product_line .row_product .info_product,
.shopping_cart .rows_product_line .row_product .discount,
.shopping_cart .rows_product_line .row_product .price,
.shopping_cart .rows_product_line .row_product .count,
.shopping_cart .rows_product_line .row_product .summ,
.shopping_cart .rows_product_line .row_product .size,
.shopping_cart .rows_product_line .row_product .control{float:none;margin-left:33%;width:auto;padding-top:5px;}
.shopping_cart .rows_product_line .row_product .discount:before,
.shopping_cart .rows_product_line .row_product .price:before,
.shopping_cart .rows_product_line .row_product .count:before,
.shopping_cart .rows_product_line .row_product .summ:before,
.shopping_cart .rows_product_line .row_product .size:before,
.shopping_cart .rows_product_line .row_product .control:before{content:"";width:90px;display:inline-block;vertical-align:top;font-weight:300;margin-bottom:13px;}
.shopping_cart .rows_product_line .row_product .discount:before{content:"Скидка: ";}
.shopping_cart .rows_product_line .row_product .price:before{content:"Цена: ";}
.shopping_cart .rows_product_line .row_product .count:before{content:"Количество: ";}
.shopping_cart .rows_product_line .row_product .summ:before{content:"Сумма: ";}
.shopping_cart .rows_product_line .row_product .size:before{content:"Размер: ";}
.shopping_cart .rows_product_line .row_product .control:before{content:"";}
.header_logo{width:90px;float:none;padding-top:5px;margin-top:0;}
.shopping_cart .summ_order .sum_info table tr td + td{width:auto;}
.shopping_cart .beck_to_cataloge .itog{width:auto;display:block;float:none;}
.shopping_cart .beck_to_cataloge .link{display:block;top:0;margin-bottom:20px}
.shopping_cart .rows_product_line .row_product .count .spinner{float:none;vertical-align:top;display:inline-block;}
.basket_quantity_control{vertical-align:top;}
.header_menu{margin-top:0;}
.header_menu > ul{margin-left:0;margin-right:0;}
.header_menu > ul li:first-child{margin-left:0;}
.header_menu > ul li{margin:5px;}
.header-shop{top:0;bottom:auto;right:auto;left:110px;}
.breadcrubs a,
.breadcrubs span{margin-bottom:5px;}
.begin a,
.sale-image,
.video-image,
.sammer-image,
.section-left,
.section-right{height:430px;}
.sammer-image .btn,
.section-left .btn,
.section-right .btn{width:200px;}
.begin a span,
.welcome h2,
.bottom-text h2,
.sale-box .title,
.section .title,
.video-text span{font-size:5.4rem;line-height:6rem;}
.bottom-text h3{font-size:4rem;}
.video-text{top:2rem;right:2rem;}
.play{width:100px;height:100px;margin-left:-50px;margin-top:-50px;background-size:cover;}
.section-left, .section-right{width:auto;float:none;}
.footer_link_menu{width:50%;}
.footer_link_menu:after{display:none;}
.footer_link_menu:first-child:after{display:block;}
.social_icon{margin-bottom:15px;}
.border_bottom_footer{margin:10px auto;}
.goods{margin-right:4%;width:48%;margin-bottom:4%;}
.goods:nth-child(3n+3){margin-right:4%;}
.goods:nth-child(2n+2){margin-right:0;}
.catalog-slider{height:300px;}
.slide-text{width:85%;padding:2rem 45px;}
.drop{display:block;position:relative;font-size:14px;font-family:'proxima_nova_rgregular', sans-serif;color:#383838;padding:1rem 3rem 1rem 2rem;display:inline-block;border:1px solid #383838;border-radius:3px;min-width:200px;margin-bottom:1rem;}
.drop:after{border-color:#383838 transparent transparent;border-image:none;border-style:solid;border-width:0.8rem;content:"";right:5px;margin-top:-0.4rem;position:absolute;top:50%;transition:opacity 0.5s ease 0s;width:0;}
.active.drop:after{border-color:transparent transparent #383838;margin-top:-1.2rem;}
.drop-wrap{display:none;}
.sidebar-left{float:none;width:auto;margin-bottom:2rem;}
.catalog-content{margin-left:0;}
.slide-text h3{font-size:4rem;line-height:4rem;}
.product-left{float:none;width:auto;margin-bottom:2rem;}
.big-image .slides li{text-align:center;}
.product-right{margin-left:0;}
}
@media (max-width:480px){.shopping_cart .summ_order .discount{width:auto;float:none;margin-bottom:10px;}
.shopping_cart .summ_order .sum_info{float:none;}
.shopping_cart .beck_to_cataloge{padding-bottom:30px}
.shopping_cart .beck_to_cataloge .itog .red{margin-bottom:20px}
.shopping_cart .beck_to_cataloge .itog .button{display:block;text-align:center;}
.goods{margin-right:0 !important;width:100%;}
.begin a,
.sale-image,
.video-image,
.sammer-image,
.section-left,
.section-right{height:330px;}
.begin a span{padding:2.5rem;}
.begin a span,
.welcome h2,
.bottom-text h2,
.sale-box .title,
.section .title,
.video-text span{font-size:4.4rem;line-height:4rem;}
.video-text{display:none;}
.cusrousel-mini{font-size:0;}
.mini-slide{margin-right:2.6%;width:23%;}
.mini-slide:nth-child(4n+4){margin-right:0;}
.product h1{font-size:2.8rem;/*3rem*/line-height:2.8rem;/*3rem*/}
.image-captcha{float:none;width:auto;}
.field-captcha{margin-left:0;}
.row-submit input{margin-bottom:1rem;}
#block_index{ width:100% !important}
#block_index_text{font-size:100% !important}
#block_index_batton {font-size:10px !important}
}
@media (max-width:400px){.avtorized_user,
.line_basket{padding:5px;height:auto;}
.mobile-menu div{display:none;}
.footer_link_menu{width:auto;float:none;}
.footer_link_menu:after{display:none !important;}
#block_index{ width:100% !important}
#block_index_text{font-size:100% !important}
#block_index_batton {font-size:10px !important}
}
.no_color{color:#FFFFFF !important;text-decoration:none !important;}
@font-face{font-family:FontAwesome;src:local("FontAwesome"),
url(../../fonts/fontawesome-webfont.woff2);}
h4{font-family:Arial,sans-serif;font-weight:normal;font-style:normal;color:#202020;font-size:26px;}
.country-list{list-style:none;padding:0;margin:0;border-top:1px solid #f2f2f2;}
.country-list-item:first-of-type{font-weight:bold;}
.country-list-item{padding:12px 2px;border-bottom:1px solid #f2f2f2;display:inline-block;width:100%;}
ul li{list-style-type:none;}
.country-list-item .content{width:100%;float:left;}
.country-list-item:first-of-type a{color:#000;}
.country-list-item a{color:#d2092d;float:left;}
.global-overlay{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1200;background-color:#000;opacity:0.5;}
.global-popup-dialog{min-width:200px;max-width:700px;min-height:100px;margin:40px auto;position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.2);border-radius:3px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);background-clip:padding-box;outline:0;z-index:1200 !important;}
.global-popup{display:none;position:fixed;top:-2%;z-index:2000;}
.content > a{font-size:20px;}
.global-popup-dialog .popup-header{display:block;margin:0;padding:15px 30px 0 20px;}
.global-popup-dialog .close-popup.fa{position:absolute;right:14px;top:12px;cursor:pointer;font-size:18px;color:#000;z-index:10000;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.global-popup-dialog .popup-content{margin:20px 20px;overflow:hidden;}
.global-popup-dialog .popup-footer{padding:15px;text-align:center;border-top:1px solid #e5e5e5;background-color:#f2f2f2;border-bottom-left-radius:3px;border-bottom-right-radius:3px;display:none;}
.fa-remove:before, .fa-close:before, .fa-times:before{content:"\f00d";}
*:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-default{border:1px solid #cccccc;-webkit-box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.25);-moz-box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.25);box-shadow:inset 0px 0px -2px 0px rgba(0,0,0,0.25);}
.language-btn{background-color:#fff;color:#202020;font-size:14px;}
.btn1{text-decoration:none;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:10px 15px;font-size:16px;border-radius:3px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-family:"HelveticaNeueLT-Roman","HelveticaNeue","Helvetica Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;}
.btn1:hover{opacity:0.7;}
.change-region-text{color:#d2092d;}
.global-overlay{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1200;background-color:#000;opacity:0.5;}
.global-popup-dialog{min-width:200px;max-width:700px;min-height:100px;margin:40px auto;position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.2);border-radius:3px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);background-clip:padding-box;outline:0;z-index:1200 !important;}
.global-popup{display:none;position:fixed;top:-2%;left:calc(50% - 350px);z-index:2000;}
.content > a{font-size:20px;}
.global-popup-dialog .popup-header{display:block;margin:0;padding:15px 30px 0 20px;}
.global-popup-dialog .close-popup.fa{position:absolute;right:14px;top:12px;cursor:pointer;font-size:18px;color:#000;z-index:10000;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.global-popup-dialog .popup-content{margin:20px 20px;overflow:hidden;}
.global-popup-dialog .popup-footer{padding:15px;text-align:center;border-top:1px solid #e5e5e5;background-color:#f2f2f2;border-bottom-left-radius:3px;border-bottom-right-radius:3px;display:none;}
.fa-remove:before, .fa-close:before, .fa-times:before{content:"\f00d";}
*:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-default{border:1px solid #cccccc;-webkit-box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.25);-moz-box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.25);box-shadow:inset 0px 0px -2px 0px rgba(0,0,0,0.25);}
.language-btn{background-color:#fff;color:#202020;font-size:14px;}
.btn1{text-decoration:none;margin-left:33px;margin-bottom:10px;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:10px 15px;font-size:16px;border-radius:3px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-family:"HelveticaNeueLT-Roman","HelveticaNeue","Helvetica Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;}
.btn1:hover{opacity:0.7;}
.change-region-text{color:#d2092d;}
.global-popup{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1300;-webkit-overflow-scrolling:touch;outline:0;overflow-x:hidden;overflow-y:auto;opacity:1;}
.cataloge_list h1{font-size:2.8rem;/*2.6rem*/color:#555;line-height:40px;font-weight:300;}
.cataloge_list{line-height:1.5;}
.base-margin-bottom, .cataloge_list h1, h2, h3, h4, h4, h5, h6, p, ul, ol, table, blockquote, .text-content .row{margin-bottom:9px;}
.cataloge_list ul{padding-left:0;}.cataloge_list{padding-bottom:20px;}
.cataloge_list ul li{list-style:none;margin-bottom:17px;min-width:324px;width:33.33333333%;float:left;}
.cataloge_list input[type=text], input[type=text], input[type=password], input[type=email], input[type=search], input[type=tel], input[type=url], textarea, input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week], input[type=number], input[type=range], input[type=color]{display:block;margin:0;padding:5px 5px;font-size:14px;font-weight:300;color:#555;border:1px solid #d7d7d7;border-radius:3px;box-shadow:none;}
.cataloge_list input[type=reset], input[type=submit], button[type=submit]{display:inline-block;margin:0;padding:0;border:none;background:#e90e44;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#e90e44 0,#bc0417 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e90e44),color-stop(100%,#bc0417));background:-webkit-linear-gradient(top,#e90e44 0,#bc0417 100%);background:-o-linear-gradient(top,#e90e44 0,#bc0417 100%);background:-ms-linear-gradient(top,#e90e44 0,#bc0417 100%);background:linear-gradient(to bottom,#e90e44 0,#bc0417 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e90e44', endColorstr='#bc0417', GradientType=0);color:#fff;font-size:13px;font-weight:300;padding:8px 13px;border-radius:2px;text-decoration:none;transition:none;position:relative;}
@media (max-width:1233px){.header-shop{width:400px;}
}
@media (max-width:1005px){.header-shop{width:230px;}
.hover_back{margin-top:4px !important;}
}
@media (max-width:383px){.header-shop{width:180px !important;}
.hover_back{margin-top:-3px !important;}
}
.flex-control-paging{top:92%;}
.flag{font-size:1rem !important;}
.flag-new{position:absolute !important;top:20px;left:0;}
.slider-main-re{width:250px !important;padding:0px 10px;}
.menu_dop > ul > li{display:inline-block;margin-left:10px;line-height:20px;}
.main_font{font-size:7.2rem;text-align:center;font-family:"novitoregular",sans-serif;line-height:6rem;font-weight:400;text-transform:uppercase;color:#202020;margin-bottom:1.5rem;}
.retailrocket-widgettitle{background-color:transparent;text-align: center;}
.desc-wrap ul {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
