@font-face {
	font-family: "helveticaneuecyrroman";
	src: url('fonts/HELVETICANEUECYR-ROMAN.OTF');
}

@font-face {
	font-family: "helveticaneuecyrmedium";
	src: url('fonts/HELVETICANEUECYR-MEDIUM.OTF');
}

@font-face {
	font-family: "novito";
	src: url('fonts/Novito.ttf');
}

.login-popup {
	width: 300px;
	padding: 28px 0 20px 0;
	background-color: #fff;
	font-family: "helveticaneuecyrroman";
	text-align: center;
}

.login-popup__head {
	margin-bottom: 30px;
	font-size: 26px;
	color: #000;
}

.login-popup__socials {
	margin-bottom: 30px;
}

a.login-popup__socials-link {
	display: inline-block;
	margin-right: 25px;
	text-decoration: none;
}

a.login-popup__socials-link:last-child {
	margin-right: 0;
}

.login-popup__text {
	margin-bottom: 30px;
	font-size: 18px;
	color: #898989;
}

.login-popup__form input[type="text"],
.login-popup__form input[type="password"] {
	width: 213px;
	height: 29px;
	margin-left: 32px;
	margin-bottom: 14px;
	padding-left: 22px;
	border: 1px solid #d1d3d4;
	font-size: 18px;
	border-radius: 0;
    box-sizing: content-box;
}

.login-popup__form input[type="submit"] {
	width: 105px;
	height: 39px;
	margin: 34px 0;
	background-color: #ed1c24;
	border-radius: 0;
	font-family: "helveticaneuecyrroman";
	font-size: 18px;
    cursor: pointer;
}

a.login-popup__reigistration-link {
	text-decoration: none;
	color: #000;
}

input.error {
	border: 1px solid #ed1c24 !important;
}