.card__content-row {
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.card__content-row_checkboxes {
    margin-bottom:5px
}

.checkbox-tile {
    display:inline-block;
    margin-bottom:4px;
    vertical-align:top;
}
.checkbox-tile_size_big .checkbox-tile__label {
    width:30px;
    height:30px;
    line-height:30px;
}
.checkbox-tile_size_extra .checkbox-tile__label {
    width:40px;
    height:40px;
    line-height:40px
}
.checkbox-tile__elem {
    display:none
}

.checkbox-tile__elem:checked~.checkbox-tile__label_type_color {
    padding:5px
}
.checkbox-tile__elem:disabled~.checkbox-tile__label {
    color:#959595;
    opacity:.8;
    cursor:default
}
.checkbox-tile__elem:disabled~.checkbox-tile__label:hover {
    color:#959595;
    box-shadow:inset 0 0 0 1px #959595
}
.checkbox-tile__elem:disabled~.checkbox-tile__label_type_color {
    box-shadow:none;
    opacity:.1
}
.checkbox-tile__elem:disabled~.checkbox-tile__label_type_color:hover {
    box-shadow:none
}
.checkbox-tile__label {
    display:block;
    width:20px;
    height:20px;
    font-size:.75rem;
    line-height:20px;
    color:#363636;
    text-align:center;
    box-shadow:inset 0 0 0 1px #eee;
    cursor:pointer;
    /*	margin-right:5px;*/
}
.good__order-label {
    margin-right: 5px;
}
.good__order-row .checkbox-tile__label {
    width:30px;
    margin-right: 5px;
}
.checkbox-tile__label::selection {
    background-color:transparent
}
.checkbox-tile__label:hover {
    color:#0076bd;
    box-shadow:inset 0 0 0 1px #0076bd
}
.checkbox-tile__label_type_color {
    overflow:hidden;
    text-indent:150%;
    white-space:nowrap;
    box-shadow:none;
    background-clip:content-box
}
.checkbox-tile__label_type_color:hover {
    box-shadow:none
}
.checkbox-tile__label_color_green {
    background-color:#3db03f
}
.checkbox-tile__label_color_pink {
    background-color:#de0f7c
}
.checkbox-tile__label_color_orange {
    background-color:#f98717
}
.checkbox-tile__label_color_dark-blue {
    background-color:#065d98
}
.checkbox-tile__label_color_light-green {
    background-color:#7dd760
}
.checkbox-tile__label_color_sand {
    background-color:#d8db81
}
.checkbox-tile__label_color_red {
    background-color:#85060b
}
.checkbox-tile__label_color_lilac {
    background-color:#dbb3c8
}
.checkbox-tile__label_color_blue {
    background-color:#0b8ccb
}
.checkbox {
    position:relative;
    padding-left:30px
}
.checkbox:not(:last-of-type) {
    margin-bottom:10px
}
.checkbox__elem {
    display:none
}
.checkbox__elem:checked~.checkbox__label:before {
    border-color:#009b5a
}
.checkbox__elem:checked~.checkbox__label:after {
    display:block
}
.checkbox__elem:disabled~.checkbox__label {
    color:#a1a1a1;
    cursor:default
}
.checkbox__label {
    cursor:pointer
}
.checkbox__label::selection {
    background-color:transparent
}
.checkbox__label:before {
    content:'';
    position:absolute;
    top:50%;
    left:0;
    width:20px;
    height:20px;
    border:1px solid #d7d7d7;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.checkbox__label:after {
    content:'';
    position:absolute;
    top:50%;
    left:3px;
    display:none;
    width:13px;
    height:6px;
    margin-top:-7px;
    border-bottom:3px solid #009b5a;
    border-left:3px solid #009b5a;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg)
}


/* 28.04.2017 adaptive */
@media screen and (max-width: 1050px) {
	.new-page-wrapper .summ div.bx_ordercart+table tr td {
		text-align: left;
		width: auto;
		padding-left: 0;
	}

	.new-page-wrapper #order_form_content .itog {
		padding-left: 30px;
	}
}

@media (max-width: 530px) {
	
	.new-page-wrapper .bx_ordercart .bx_ordercart_order_table_container table tbody tr td {
		display: block;
		text-align: left;
	}
	
	.new-page-wrapper .form_order input[type=text] {
		max-width: 210px;
	}
	
	.new-page-wrapper .bx_ordercart .bx_ordercart_order_table_container tbody td.right span {
		display: inline-block;
	}
	
	.new-page-wrapper .price {
		margin: 0;
	}
	
	.new-page-wrapper .summ .bx_ordercart .bx_ordercart_order_table_container table thead tr td.custom {
		display: none;
	}
	
	.new-page-wrapper .summ .bx_ordercart .bx_ordercart_order_table_container table tbody tr td {
		width: 100%;
	}
	
	.new-page-wrapper .summ .bx_ordercart .bx_ordercart_order_table_container table tbody tr td .bx_ordercart_photo_container,
	.new-page-wrapper .summ .bx_ordercart .bx_ordercart_order_table_container table tbody tr td .name_wrap {
		float: none;
	}
}
