@font-face {
	font-family: "helveticaneuecyrroman";
	src: url('fonts/HELVETICANEUECYR-ROMAN.OTF');
}

@font-face {
	font-family: "helveticaneuecyrmedium";
	src: url('fonts/HELVETICANEUECYR-MEDIUM.OTF');
}

@font-face {
	font-family: "novito";
	src: url('fonts/Novito.ttf');
}

.registration-popup {
	width: 300px;
	padding: 28px 0 20px 0;
	background-color: #fff;
	font-family: "helveticaneuecyrroman";
	text-align: center;
}

.registration-popup__head {
	margin-bottom: 30px;
	font-size: 26px;
	color: #000;
}

a.login-popup__reigistration-link {
	text-decoration: none;
	color: #000;
}

.registration-popup__form input[type="email"],
.registration-popup__form input[type="password"],
.registration-popup__form input[type="text"],
.registration-popup__form input[type="tel"] {
	width: 219px;
	height: 29px;
	margin-left: 32px;
	margin-bottom: 10px;
	padding-left: 16px;
	border: 1px solid #d1d3d4;
	font-size: 18px;
	border-radius: 0;

}

.registration-popup-checkbox {
	margin: 0 0 25px 32px;
	text-align: left;
	font-size: 12px;
}

.registration-popup-info {
	margin-top: -6px;
	margin-bottom: 20px;
	padding: 0 30px;
	font-size: 11px;
}

.registration-popup__form input[type="submit"] {
	width: 240px;
	height: 39px;
	margin-bottom: 30px;
	margin-top: 5px;
	background-color: #ed1c24;
	border-radius: 0;
	font-family: "helveticaneuecyrroman";
	font-size: 18px;
    cursor: pointer;
}

.registration-popup__text {
	padding-left: 32px;
	text-align: left;
	color: #898989;
	font-size: 12px;
}

.registration-popup__form input[type="checkbox"] {
	display:none;
}

.registration-popup__form input[type="checkbox"] + label {
	padding-left: 20px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.registration-popup__form input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background-color: #cccccc;
}

.registration-popup__form input[type="checkbox"]:checked + label::before {
	background-color: #ed1c24;
}

input.error {
	border: 1px solid #ed1c24 !important;
}