.hover_back{
	float:left;
	width:30px;
	border-radius:2px;
	margin-top:20px;
	text-align:center;
	padding:7px 5px 7.4px 5px;
	cursor:pointer;
	margin-right:5px;
}
.hover_back:hover{
	background-color: #bd0828;
}
.search_header{
	display:block;
    font: normal normal normal 14px/1 FontAwesome;
	color:#FFF;
	font-size:18px;
}
.search_header:before, .go_search_top:before {
    content: "\f002";
}
.closed_input_search{
    color: #202020;
    font-size: 26px !important;
    cursor: pointer;
	font: normal normal normal 14px/1 FontAwesome;
	display:inline-block;
	position:absolute;
	top:0%;
	right:1%;
}
.closed_input_search:before{
    content: "\f00d";
}
.go_search_top{
	color: #d2092d !important;
	font: normal normal normal 14px/1 FontAwesome;
	color: #202020;
    font-size: 26px;
    cursor: pointer;
	position:absolute;
	top:0%;
	right:6%;
	display:inline-block;
}
.detail_search_top{
	width:100%;
	position:fixed;
	display:none;
	top:0%;
	z-index:9990;
	left:0;
	margin:0;
	padding:0;
	background-color:#FFF;
}
.input_search{
	height: 59px;
	font-size: 20px !important;
	color: #202020 !important;
	text-indent: 0;
	margin: 0;
	border: 0;
	line-height: 30px;
	margin-top: -6px !important;
	box-shadow: none !important;
	width:100% !important;
	padding-left:2%;
	padding-right:2% !important;
	position:relative;
	margin:0;
	border:none !important;
	display:inline-block !important;
}
.input_search:focus{
	border:none !important;
	outline:none !important;
}
@media (max-width: 900px) {
	.go_search_top{
		right:10%;
	}
}