@font-face {
	font-family: "helveticaneuecyrroman";
	src: url('fonts/HELVETICANEUECYR-ROMAN.OTF');
}

@font-face {
	font-family: "helveticaneuecyrmedium";
	src: url('fonts/HELVETICANEUECYR-MEDIUM.OTF');
}

@font-face {
	font-family: "novito";
	src: url('fonts/Novito.ttf');
}

.subscription-popup {
	width: 750px;
	height: 400px;
	font-family: "helveticaneuecyrmedium";
	background: url("img/subscriptionlogo.jpg") right no-repeat;
	background-color: #f2f2f2;
}

.subscription-popup__content {
	width: 387px;
	padding: 60px 30px 0;
}

.subscription-popup__head {
	margin-bottom: 15px;
	font-family: "novito";
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

.subscription-popup__text {
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 1.2;
}
.subscription-popup__form {
	height: 41px;
	margin-bottom: 20px;

}

.subscription-popup__form input[type="text"] {
	width: 247px;
	height: 29px;
	padding-left: 12px;
	margin-right: 5px;
	float: left;
	border: 1px solid #d1d3d4;
	font-size: 14px;
	border-radius: 0;

}

.subscription-popup__form input[type="submit"] {
	width: 105px;
	height: 39px;
	padding: 0;
	position: relative;
	top: 1px;
	background-color: #ed1c24;
	border-radius: 0;
	font-family: "helveticaneuecyrmedium";
	font-size: 14px;
    cursor: pointer;
}

.subscription-popup__note {
	font-size: 12px;
	color: #58595b;
	line-height: 1.2;
}

.promocode-popup {
    width: 750px;
    height: 400px;
    font-family: "helveticaneuecyrmedium";
    background: url("img/subscriptionlogo.jpg") right no-repeat;
    background-color: #f2f2f2;
}

.promocode-popup__content {
    width: 377px;
    padding: 65px 35px 0;
}

.promocode-popup__head {
    margin-bottom: 30px;
    font-family: "novito";
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.promocode-popup__form {
    margin-bottom: 40px;
    position: relative;
}

.promocode-popup__form label {
    position: relative;
    top: 2px;
    font-size: 21px;
}

.promocode-popup__form input[type="text"] {
    display: inline-block;
    width: 198px;
    height: 29px;
    border: 1px solid #d1d3d4;
    font-size: 14px;
    border-radius: 0;

}

.promocode-popup__text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.1;
}

.promocode-popup__note {
    font-size: 16px;
    color: #464646;
    line-height: 1.1;
}

input.error {
	border: 1px solid #ed1c24 !important;
}

.copy-done {
    position: absolute;
    bottom: 9px;
    right: 15px;
    display: none;
}

.btn-copy {
    border: none;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .subscription-popup,
    .promocode-popup {
        width: 300px;
        height: 550px;
        background: url("img/subscriptionlogomob.png") right no-repeat;
        background-color: #f2f2f2;
    }

    .subscription-popup__content  {
        width: auto;
        padding: 20px 0 0 15px;
    }

    .subscription-popup__head,
    .promocode-popup__head {
        font-size: 48px;
        width: 160px;
    }

    .subscription-popup__text {
        font-size: 16px;
        width: 160px;
    }

    .subscription-popup__form {
        height: auto;
        margin-bottom: 30px;
    }

    .subscription-popup__form input[type="email"] {
        margin-bottom: 7px;
        width: 152px;
        padding-left: 23px;
        float: none;
    }

    .subscription-popup__form input[type="submit"] {
        width: 182px;
    }

    .subscription-popup__note {
        width: 135px;
    }

    .subscription-popup__note div {
        margin-bottom: 5px;
    }

    .promocode-popup__content {
        width: auto;
        padding: 50px 0 0 25px;
    }

    .promocode-popup__form label {
        display: block;
        margin-bottom: 15px;
    }

    .promocode-popup__text,
    .promocode-popup__note {
        width: 210px;
        font-size: 14px;
    }

    .copy-done {
        bottom: -18px;
        left: 0;
        right: auto;
    }

    .promocode-popup__form .btn-copy {
        border: none;
        margin-top: 10px;
        width: 210px;
        padding: 0;
        height: 35px;
    }
}

#error-banner{
	font-size:16px!important;
    margin-bottom: 20px;
}