/*.bx_bt_butt {
	width: 120px;
	height: 15px;
}*/

.personal-info{
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
	display: inline-block;
}
.topper .user_area .search_card .card_header .card_info p{
	margin-bottom: 1px;
}
.topper .user_area .search_card .search input[type="text"]{
	border-radius: 0px;
}

.no_have {
	font-size: 12px;
	color: #F50000;
}

.is_available {
	display: none;
}
.search_field{
	float: left !important;
	width: 80% !important;
	border-radius: 0px !important;
}
.search_input{
	margin-left: 10px !important;
	font-size: 12px !important;
}
.float_left{
	float: left;
}
.padding_right{
	padding-right: 50px;
}
.padding-bottom {
	padding-bottom: 20px;
}
.min_height{
	min-height: 400px;
}
.border_radius{
	border-radius: 0px !important;
}
.introtext {
	margin-right: 10px;
}

.row.bx_filter_block img {
	width: 20%;
	margin-left: 10px;
}

.zoomContainer {z-index:8000;}


.product_item .flag {
    position: absolute;
    top: 20px;
    left: 0;
}
.flag {
    position:relative;
    z-index:10;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    font-weight:700;
    font-size:.625rem;
    line-height:2;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:.05em
}
.flag:after,
.flag:before {
    content:'';
    position:absolute;
    left:100%
}
.flag:before {
    top:0;
    border-top:10px solid currentColor;
    border-right:6px solid transparent
}
.flag:after {
    bottom:0;
    border-bottom:10px solid currentColor;
    border-right:6px solid transparent
}
.flag_type_available{
	background-color:#86170f
}
.flag_type_available:after,
.flag_type_available:before {
    color:#86170f
}
.flag_type_new {

    background-color:#009b5a
}
.flag_type_new:after,
.flag_type_new:before {
    color:#009b5a
}
.flag_type_sale {
    background-color:#e2003b
}
.flag_type_sale:after,
.flag_type_sale:before {
    color:#e2003b
}
.flag_type_hit {
    background-color:#f29625
}
.flag_type_hit:after,
.flag_type_hit:before {
    color:#f29625
}
.easyzoom-flyout img{
	max-width: inherit;
}

/* Кнопка "Наверх" */
#toTop {
	width: 100px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	font-family: verdana;
	font-size: 11px;
}
